<div class="project dis-ap section-innerpage-wapper">
    <div class="container">
        <div class="text-center">
            <div class="row justify-content-center">
                <div class="col-md-12 g-2">
                    <h2 style="color: #3c8d3c; margin-bottom: 60px">
                        Emerging Technologies
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="project-child">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <a href="#"><img
                                src="../../assets/images/The-Next-Evolution-Of-Artificial-Intelligence-990x500.jpg"
                                style="border-radius: 10px" alt="website template image" />
                            <div class="yellow-overlay d-flex align-items-center justify-content-center">
                                <p>#Artificial Intelligence</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <a href="#"><img src="../../assets/images/machine-learning.jpg" style="border-radius: 10px"
                                alt="website template image" />
                            <div class="yellow-overlay d-flex align-items-center justify-content-center">
                                <p>#Machine Learning</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <a href="#"><img src="../../assets/images/289jpXiaomi-VR.jpg" style="border-radius: 10px"
                                alt="website template image" />
                            <div class="yellow-overlay d-flex align-items-center justify-content-center">
                                <p>#Virtual Reality</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- <div class="col-lg-4 col-md-6 col-12">
                    <div><a href="#"><img src="../../assets/images/machine-learning.jpg" alt="website template image">
                            <div class="yellow-overlay d-flex align-items-center justify-content-center">
                                <p>Machine Learning</p>
                            </div>
                        </a></div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="text-center">
            <div class="row justify-content-center">
                <div class="col-md-12 g-2">
                    <h2 style="color: #3c8d3c; margin-bottom: 60px">
                        Technologies Stack
                    </h2>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="tech-stack" data-aos="fade-up" data-aos-duration="200">
                    <img src="../../assets/video/giphy-1--unscreen.gif" style="height: 100%; width: 100%" />
                    <h6 class="text-center">Drone</h6>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.minima
                        maxime iusto eos voluptas eius sapiente iure omnis ea?
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tech-stack" data-aos="fade-up" data-aos-duration="400">
                    <img src="../../assets/video/JPFn-unscreen.gif" style="height: 100%; width: 100%" />
                    <h6 class="text-center">Knowledge</h6>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.minima
                        maxime iusto eos voluptas eius sapiente iure omnis ea?
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tech-stack" data-aos="fade-up" data-aos-duration="600">
                    <img src="../../assets/video/8QxY-unscreen.gif" style="height: 150px; width: 250px" />
                    <h6 class="text-center">Virtual Reality</h6>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.minima
                        maxime iusto eos voluptas eius sapiente iure omnis ea?
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tech-stack" data-aos="fade-up" data-aos-duration="800">
                    <img src="../../assets/video/JPFn-unscreen.gif" style="height: 100%; width: 100%" />
                    <h6 class="text-center">Knowledge</h6>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.minima
                        maxime iusto eos voluptas eius sapiente iure omnis ea?
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section style="margin-top: 3rem">
    <div id="details" class="basic-2">
        <div class="container technology-stack-content">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right" data-aos-duration="500">
                    <img class="img-fluid" src="../../assets/video/8QxY-unscreen.gif" alt="website template image" />
                </div>
                <div class="col-lg-6 " data-aos="fade-left" data-aos-duration="800">
                    <div class="text-container">
                        <h3>Goals Setting</h3>
                        <p>
                            Leno can easily help you track your personal development evolution
                            if you take the time to properly setup your goals at the beginning
                            of the training process. Check out the details setup your goals at the beginning
                            of the training process. Check out the details
                        </p>
                        <a class="btn-solid-reg" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div id="details" class="basic-2">
        <div class="container technology-stack-content">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right" data-aos-duration="500">
                    <div class="text-container">
                        <h3>Goals Setting</h3>
                        <p>
                            Leno can easily help you track your personal development evolution
                            if you take the time to properly setup your goals at the beginning
                            of the training process. Check out the details. if you take the time to properly setup your
                            goals at the beginning
                            of the training process. Check out the details
                        </p>
                        <a class="btn-solid-reg" href="#">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-6 d-flex justify-content-center " data-aos="fade-left" data-aos-duration="800">
                    <img class="img-fluid" src="../../assets/video/JPFn-unscreen.gif" alt="website template image" />
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div id="details" class="basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex justify-content-center" data-aos="fade-right" data-aos-duration="500">
                    <img class="img-fluid" src="../../assets/video/giphy-1--unscreen.gif" />
                </div>
                <div class="col-lg-6" data-aos="fade-left" data-aos-duration="800">
                    <div class="text-container">
                        <h3>Goals Setting</h3>
                        <p>
                            Leno can easily help you track your personal development evolution
                            if you take the time to properly setup your goals at the beginning
                            of the training process. Check out the details. if you take the time to properly setup your
                            goals at the beginning
                            of the training process. Check out the details
                        </p>
                        <a class="btn-solid-reg" href="#">Learn More</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section> -->


<div class="testimonial mt-4" id="test">
    <div class="container">
        <h2 class="text-capitalize text-center" style="color: #3c8d3c">Founders</h2>
    </div>
    <div class="test-child">
        <div class="container">
            <div class="row align-items-center mb-5">
                <div class="col-lg-4 col-md-1"></div>
                <div class="col-lg-2 col-md-3 col-4 " data-aos="fade-right" data-aos-duration="500"><img
                        src="../../assets/images/jeff-bezos-seen-during.jpg" alt="website template image"></div>
                <div class="col-lg-6 col-8" data-aos="fade-right" data-aos-duration="800">
                    <h4 class="text-uppercase">helina</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                </div>
            </div>
            <div class="row align-items-center mb-5">
                <div class="col-lg-2 col-md-1"></div>
                <div class="col-lg-2 col-md-3 col-4 " data-aos="fade-right" data-aos-duration="700"><img
                        src="../../assets/images/jeff-bezos-seen-during.jpg" alt="website template image"></div>
                <div class="col-lg-6 col-8" data-aos="fade-right" data-aos-duration="1000">
                    <h4 class="text-uppercase">jackson</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                </div>
            </div>
            <div class="row align-items-center">
                <!-- <div class="col-lg- col-md-1"></div> -->
                <div class="col-lg-2 col-md-3 col-4" data-aos="fade-right" data-aos-duration="700"><img
                        src="../../assets/images/jeff-bezos-seen-during.jpg" alt="website template image"></div>
                <div class="col-lg-8 col-8" data-aos="fade-right" data-aos-duration="1000">
                    <h4 class="text-uppercase">jackson</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                </div>
            </div>

        </div>
    </div>
</div>