<div class="project dis-ap section-innerpage-wapper ">
    <div class="container">
        <div class="text-center">
            <div class="row justify-content-center">
                <div class="col-md-12 g-2">
                    <h2 style="color:#3c8d3c; margin-bottom: 60px;">Emerging Technologies</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="project-child">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div><a href="#"><img
                                src="../../assets/images/The-Next-Evolution-Of-Artificial-Intelligence-990x500.jpg"
                                alt="website template image">
                            <div class="yellow-overlay d-flex align-items-center justify-content-center">
                                <p>Artificial Intelligence</p>
                            </div>
                        </a></div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div><a href="#"><img src="../../assets/images/machine-learning.jpg" alt="website template image">
                            <div class="yellow-overlay d-flex align-items-center justify-content-center">
                                <p>Machine Learning</p>
                            </div>
                        </a></div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div><a href="#"><img src="../../assets/images/289jpXiaomi-VR.jpg" alt="website template image">
                            <div class="yellow-overlay d-flex align-items-center justify-content-center">
                                <p>VR</p>
                            </div>
                        </a></div>
                </div>
                <!-- <div class="col-lg-4 col-md-6 col-12">
                    <div><a href="#"><img src="../../assets/images/machine-learning.jpg" alt="website template image">
                            <div class="yellow-overlay d-flex align-items-center justify-content-center">
                                <p>Machine Learning</p>
                            </div>
                        </a></div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="text-center">
            <div class="row justify-content-center">
                <div class="col-md-12 g-2">
                    <h2 style="color:#3c8d3c; margin-bottom: 60px;">Technologies Stack</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="tech-stack" data-aos="fade-right" data-aos-duration="500">
                    <img src="../../assets/video/SpxP.gif" style="height: 100%; width: 100%;">
                    <h6 class="text-center">Drone</h6>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.minima maxime iusto
                        eos
                        voluptas eius sapiente iure omnis ea?</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tech-stack">
                    <img src="../../assets/video/JPFn-unscreen.gif" style="height: 100%; width: 100%;">
                    <h6 class="text-center">Knowledge</h6>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.minima maxime iusto
                        eos
                        voluptas eius sapiente iure omnis ea?</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tech-stack">
                    <img src="../../assets/video/8QxY-unscreen.gif" style="height: 150px; width: 250px;">
                    <h6 class="text-center">Virtual Reality</h6>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.minima maxime iusto
                        eos
                        voluptas eius sapiente iure omnis ea?</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tech-stack" data-aos="fade-left" data-aos-duration="500">
                    <img src="../../assets/video/JPFn-unscreen.gif" style="height: 100%; width: 100%;">
                    <h6 class="text-center">Knowledge</h6>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.minima maxime iusto
                        eos
                        voluptas eius sapiente iure omnis ea?</p>
                </div>
            </div>
        </div>
    </div>
</section>