<div class="rainbow-gradient-circle"></div>
<div class="rainbow-gradient-circle theme-pink"></div>
<div class="start-ups-content">
    <div class="start-ups-banner mb-3">
        <img src="../../assets/images/enviornment-w.png">
    </div>
    <div class="col-md-12">
        <div class="container container-flexer">
            <div class="row">
                <div class="col-md-12">
                    <div class="start-ups-content start-ups-content-text-center">
                        <h6>
                            About the sector
                        </h6>
                        <p>Andhra Pradesh has strong presence of Defence Public Sector Units. The state is home to
                            the
                            Eastern Naval Command in Visakhapatnam and Satish Dhawan Space Centre SHAR (SDSC SHAR),
                            at the Indian Space Research Organization (ISRO) in Sriharikota, the primary spaceport
                            of India. The
                            Hindustan Shipyard, founded in 1941, is a PSU that is focused on ship building, ship
                            repair including
                            major overhauls of Indian Navy submarines</p>
                        <p>Andhra Pradesh has strong presence of Defence Public Sector Units. The state is home to
                            the
                            Eastern Naval Command in Visakhapatnam and Satish Dhawan Space Centre SHAR (SDSC SHAR),
                            at the Indian Space Research Organization (ISRO) in Sriharikota, the primary spaceport
                            of India. The
                            Hindustan Shipyard, founded in 1941, is a PSU that is focused on ship building, ship
                            repair including
                            major overhauls of Indian Navy submarines</p>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 mb-3">
                    <div class="row zones">
                        <h4 class="">Sector Highlights &amp; Key Initiatives</h4>
                        <div class="col-lg-12">
                            <ul>
                                <li>Some of the key investments under active implementation in the Aerospace &amp;
                                    Defence sector are as follows:
                                    <ul>
                                        <li>BEL’s Defence Systems Integration Complex for Weapons and Radars in
                                            Anantapur District </li>
                                        <li>BEL’s New Generation Electro-optics &amp; Advance Night Vision Cameras
                                            in Krishna District</li>
                                        <li>Air Cargo Complex near Visakhapatnam </li>
                                        <li>Stumpp Schuele Casings’s (SSC) upcoming Ammunitions manufacturing unit
                                            in Anantapur District </li>
                                        <li>DRDO’s Missile Testing facility planned in Krishna District</li>
                                        <li>Premier Explosive’s upcoming Solid Rocket Propellant Plant in Nellore
                                            District</li>
                                        <li>World-class Maintenance, Repair and Overhaul (MRO) facility as a part of
                                            the proposed Bhogapuram Aerotropolis near Visakhapatnam </li>
                                    </ul>
                                </li>
                                <li>Andhra Pradesh has dedicated infrastructure facilities for Aerospace &amp;
                                    Defence such DRDO’s Electronic Warfare Test Range including a design,
                                    development, production, and assembly unit in Kurnool District.
                                </li>
                                <li>
                                    The State is blessed with Heavy Mineral Beach Sand (HMBS) a source for minerals
                                    such as Ilmenite and metal-grade Titanium, ideal for Aerospace &amp; Defence
                                    manufacturing products.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>