<div class="rainbow-gradient-circle"></div>
<div class="rainbow-gradient-circle theme-pink"></div>
<section class="dis-ap section-innerpage-wapper">
    <div class="container">
        <div class="text-center">
            <div class="row justify-content-center">
                <div class="col-md-12 g-2">
                    <h2 style="color: #3c8d3c;">Discover Anusandhaan Yuva</h2>
                    <h4 class="sub-heading" style="color: #3c8d3c;">Where Abundance meets Prosperity</h4>
                    <p class="text">
                        Led by strong, decentralized citizen centric governance, Andhra
                        Pradesh is proud to embark on a new journey of sustainable
                        development through inclusive growth. Abounding with advantages
                        in every aspect geographical, agricultural, industrial,
                        infrastructural, Andhra Pradesh is the State where industry
                        flourishes in a host of thrust sectors facilitated by a
                        growth-oriented and supportive Government.
                    </p>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 border-btm icon-setting">
                            <div class="col-12 d-flex align-items-center justify-content-center">
                                <div class="col-5">
                                    <img src="../../assets/images/airport-.png" alt="">
                                </div>
                                <div class="col-7">
                                    <h1 class="menu-head">8th</h1>
                                    <p class="menu-text">
                                        Largest State in<br>
                                        India spread across<br>
                                        <b>162,968 sq km</b>
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 border-btm icon-setting">
                            <div class="col-12 d-flex align-items-center justify-content-center">
                                <div class="col-5">
                                    <img src="../../assets/images/coastline-.png" alt="">
                                </div>
                                <div class="col-7">
                                    <h1 class="menu-head_1">1.2 Mn</h1>
                                    <p class="menu-text">
                                        Telugu Diaspora – <br>
                                        2nd largest Indian <br>
                                        linguistic diaspora <br>
                                        abroad
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 border-btm icon-setting">
                            <div class="col-12 d-flex align-items-center justify-content-center">
                                <div class="col-5">
                                    <img src="../../assets/images/coastline-.png" alt="">
                                </div>
                                <div class="col-7">
                                    <h1 class="menu-head_1">70%</h1>
                                    <p class="menu-text">
                                        of the working-age<br> population
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 border-btm icon-setting">
                            <div class="col-12 d-flex align-items-center justify-content-center">
                                <div class="col-5">
                                    <img src="../../assets/images/airport-.png" alt="">
                                </div>
                                <div class="col-7">
                                    <h1 class="menu-head">90.31 Billion</h1>
                                    <p class="menu-text">
                                        USD GSDP (constant <br>
                                        price)in 2021-22
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 border-btm icon-setting">
                            <div class="col-12 d-flex align-items-center justify-content-center">
                                <div class="col-5">
                                    <img src="../../assets/images/coastline-.png" alt="">
                                </div>
                                <div class="col-7">
                                    <h1 class="menu-head_1">11.43%</h1>
                                    <p class="menu-text">
                                        Double Digit Growth <br> Rate in 2021-22

                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 border-btm icon-setting">
                            <div class="col-12 d-flex align-items-center justify-content-center">
                                <div class="col-5">
                                    <img src="../../assets/images/airport-.png" alt="">
                                </div>
                                <div class="col-7">
                                    <h1 class="menu-head">25%</h1>
                                    <p class="menu-text">
                                        of IT workforce and <br> Indians in US are <br> from Telugu Community <br>

                                    </p>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-4 border-btm icon-setting">
                            <div class="col-12 d-flex align-items-center justify-content-center">
                                <div class="col-5">
                                    <img src="../../assets/images/coastline-.png" alt="">
                                </div>
                                <div class="col-7">
                                    <h1 class="menu-head">974km</h1>
                                    <p class="menu-text">
                                        Second longest coastline <br>
                                        in India
                                    </p>
                                </div>
                            </div>
                        </div>





                        <div class="col-md-4 border-btm icon-setting">
                            <div class="col-12 d-flex align-items-center justify-content-center">
                                <div class="col-5">
                                    <img src="https://www.advantageap.in/wp-content/themes/custom-theme/assets/images/icons/gateway-.png"
                                        alt="">
                                </div>
                                <div class="col-7">
                                    <p class="menu-head_1">India's Gateway <br> to the East

                                    </p>

                                    <p class="menu-text"><b>6</b> Existing Ports <br>
                                        <b>4</b> new ports under development
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 border-btm icon-setting">
                            <div class="col-12 d-flex align-items-center justify-content-center">
                                <div class="col-5">
                                    <img src="https://www.advantageap.in/wp-content/themes/custom-theme/assets/images/icons/airport-.png"
                                        alt="">
                                </div>
                                <div class="col-7">
                                    <h1 class="menu-head_1">6 Existing Airports
                                    </h1>
                                    <p class="menu-text">
                                        <b>1</b>
                                        Green Field Aeropolis <br> under development
                                        <br>

                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>