<div class="rainbow-gradient-circle"></div>
<div class="rainbow-gradient-circle theme-pink"></div>
<div class="custom-section">
    <div class="start-ups-banner mb-3">
        <img src="../../assets/images/About Anusandhaan.png">
    </div>
    <div class="container">
        <div class="card about-card">
            <div class="row">
                <div data-aos="fade-right" data-aos-duration="1000" class="col-4">
                    <img src="../../assets/images/our-vision.png" alt="" />
                </div>
                <div data-aos="fade-left" data-aos-duration="1000" class="col-8">
                    <p class="anusandhan-header">Our Vision</p>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                        fugit,
                        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
                        quisquam
                        est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
                    </p>
                </div>
            </div>
        </div>
        <div class="card about-card">
            <div class="row">
                <div data-aos="fade-right" data-aos-duration="1000" class="col-8">
                    <p class="anusandhan-header">Our Mission</p>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                        fugit,
                        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
                        quisquam
                        est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
                    </p>
                </div>
                <div  data-aos="fade-left" data-aos-duration="1000" class="col-4">
                    <img src="../../assets/images/our-mission.png" alt="" />
                </div>
            </div>
        </div>
        <div class="card about-card">
            <div class="row">
                <div data-aos="fade-right" data-aos-duration="1000" class="col-4">
                    <img src="../../assets/images/our-objectives.png" alt="" />
                </div>
                <div data-aos="fade-left" data-aos-duration="1000" class="col-8">
                    <p class="anusandhan-header">Our Objectives</p>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                        fugit,
                        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
                        quisquam
                        est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>