<section class="dis-ap section-innerpage-wapper section-eventsecdule-wapper">
    <div class="container">
        <div class="text-center">
            <div class="row justify-content-center">
                <div class="col-md-12 g-2">
                    <h2 style="color:#3c8d3c; margin-bottom: 60px;">Speakers</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4">
                        <a href="#" class="OperSpeakerDetails">
                            <div class="specker-block-wapper">
                                <div class="gim-header-speaker">
                                    <img src="../../assets/images/minister-img1.png" class="img-fluid" />
                                </div>
                                <div class="gim-body-speaker">
                                    <h4>Sri Y.S. Jagan Mohan Reddy</h4>
                                    <p>Hon'ble Chief Minister, <br />Andhra Pradesh</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="OperSpeakerDetails">
                            <div class="specker-block-wapper">
                                <div class="gim-header-speaker">
                                    <img src="../../assets/images/minister-img1.png" class="img-fluid" />
                                </div>
                                <div class="gim-body-speaker">
                                    <h4>Sri Nitin Jairam Gadkari</h4>
                                    <p>
                                        Hon'ble Union Minister of Road Transport &amp; Highways,
                                        <br />
                                        Government of India
                                    </p>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="OperSpeakerDetails">
                            <div class="specker-block-wapper">
                                <div class="gim-header-speaker">
                                    <img src="../../assets/images/minister-img1.png" class="img-fluid" />
                                </div>
                                <div class="gim-body-speaker">
                                    <h4>Sri Sarbananda Sonowal</h4>
                                    <p>
                                        Hon'ble Union Minister of Ports, Shipping &amp; Waterways
                                        and AYUSH, <br />Government of India
                                    </p>
                                </div>
                            </div>

                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>