<div class="rainbow-gradient-circle"></div>
<div class="rainbow-gradient-circle theme-pink"></div>


<section id="speakers" class=" dis-ap wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
    <div class="container">
        <div class="section-header">
            <h2 style="color:#3c8d3c; margin-bottom: 13px;">Event Speakers</h2>
            <p style="margin-bottom: 13px;">Here are some of our speakers</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-duration="500">
                <div class="speaker"><img src="../../assets/images/1.jpg" alt="website template image"
                        class="img-fluid">
                    <div class="details">
                        <h3>Brenden Legros</h3>
                        <div class="social">National Speaker Association
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-duration="900">
                <div class="speaker"><img src="../../assets/images/6.jpg" alt="website template image"
                        class="img-fluid">
                    <div class="details">
                        <h3>Hubert Hirthe</h3>
                        <div class="social">Speaker Association
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1200">
                <div class="speaker"><img src="../../assets/images/1.jpg" alt="website template image"
                        class="img-fluid">
                    <div class="details">
                        <h3>Cole Emmerich</h3>
                        <div class="social">Speaker Association
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="500">
                <div class="speaker"><img src="../../assets/images/1.jpg" alt="website template image"
                        class="img-fluid">
                    <div class="details">
                        <h3>Jack Christiansen</h3>
                        <div class="social">Speaker Association
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="900">
                <div class="speaker"><img src="../../assets/images/6.jpg" alt="website template image"
                        class="img-fluid">
                    <div class="details">
                        <h3>Willow Trantow</h3>
                        <div class="social">Speaker Association
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1200">
                <div class="speaker"><img src="../../assets/images/1.jpg" alt="website template image"
                        class="img-fluid">
                    <div class="details">
                        <h3>Willow Trantow</h3>
                        <div class="social">Speaker Association
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>