<section id="about" class="section">
    <div class="container">
        <div class="exhibition-banner-head" data-aos="zoom-in" data-aos-duration="500">
            <h2 class="text-center" style="color: #3c8d3c; margin-bottom: 60px;font-size: 45px;font-weight: 600;">Our
                Exhibition Expo's
            </h2>
        </div>
        <div class="row">
            <div class="col-md-4" data-aos="zoom-in" data-aos-duration="600">
                <div class="features-icon-box">
                    <div class="features-icon"><img src="../../assets/images/healthcare-icon.svg"></div>
                    <div class="features-info">
                        <h4>Health Tech Expo</h4>
                        <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore
                            magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="zoom-in" data-aos-duration="600">
                <div class="features-icon-box">
                    <div class="features-icon"><img src="../../assets/images/education-icon.svg"></div>
                    <div class="features-info">
                        <h4>Education Expo</h4>
                        <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore
                            magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="zoom-in" data-aos-duration="600">
                <div class="features-icon-box">
                    <div class="features-icon"> <img src="../../assets/images/ites-icon.svg"></div>
                    <div class="features-info">
                        <h4>IT & ITES Expo</h4>
                        <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore
                            magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="zoom-in" data-aos-duration="700">
                <div class="features-icon-box">
                    <div class="features-icon"> <img src="../../assets/images/industry-icon.svg"></div>
                    <div class="features-info">
                        <h4>Industries Expo</h4>
                        <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore
                            magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="zoom-in" data-aos-duration="700">
                <div class="features-icon-box">
                    <div class="features-icon"> <img src="../../assets/images/renewable-icon.svg"></div>
                    <div class="features-info">
                        <h4>Renewable Energy Expo</h4>
                        <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore
                            magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="zoom-in" data-aos-duration="700">
                <div class="features-icon-box">
                    <div class="features-icon"> <img src="../../assets/images/agri-tech-icon.svg"></div>
                    <div class="features-info">
                        <h4>Agri Tech Expo</h4>
                        <h6>(Agri/Dairy/Poultry,etc..)</h6>
                        <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore
                            magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="zoom-in" data-aos-duration="800">
                <div class="features-icon-box">
                    <div class="features-icon"> <img src="../../assets/images/bank-icon.svg"></div>
                    <div class="features-info">
                        <h4>Banks Expo</h4>
                        <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore
                            magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="zoom-in" data-aos-duration="800">
                <div class="features-icon-box">
                    <div class="features-icon"> <img src="../../assets/images/enterpenre-icon.svg"></div>
                    <div class="features-info">
                        <h4>EDP Models Expo</h4>
                        <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore
                            magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="zoom-in" data-aos-duration="800">
                <div class="features-icon-box">
                    <div class="features-icon"> <img src="../../assets/images/tourism-icon.svg"></div>
                    <div class="features-info">
                        <h4>Tourism Expo</h4>
                        <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore
                            magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="zoom-in" data-aos-duration="900">
                <div class="features-icon-box">
                    <div class="features-icon"><img src="../../assets/images/e-vehicles-icon.svg"></div>
                    <div class="features-info">
                        <h4>eVehicles Expo</h4>
                        <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore
                            magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="zoom-in" data-aos-duration="900">
                <div class="features-icon-box">
                    <div class="features-icon"> <img src="../../assets/images/craft-icon.svg"></div>
                    <div class="features-info">
                        <h4>Craft Bazar</h4>
                        <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore
                            magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="zoom-in" data-aos-duration="900">
                <div class="features-icon-box">
                    <div class="features-icon"> <img src="../../assets/images/organic-meal-icon.svg"></div>
                    <div class="features-info">
                        <h4>Organic Meal</h4>
                        <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore
                            magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>