<div class="custom-section sponsors-section">
	<div class="start-ups-banner mb-3">
		<img src="../../assets/images/Startups 2.png">
	</div>
	<div class="custom-padding">
		<div class="container">
			<div class="row">
				<div data-aos="fade-up" data-aos-duration="1500" class="col-md-3 mb-5">
					<div class="sponsor-card-container">
						<div class="card sponsor-card">
							<div class="sponsor-logo">
								<img class="sponsor-img" src="../../../assets/images/sponsor-logo.png" alt="" />
							</div>
							<div class="sponsor-text">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
									laudantium</p>
								<button class="btn">View More <img src="../../../assets/images/right-arrowGif.gif"
										alt="" /></button>
							</div>
						</div>
					</div>
				</div>
				<div data-aos="fade-up" data-aos-duration="1500" class="col-md-3 mb-5">
					<div class="sponsor-card-container">
						<div class="card sponsor-card">
							<div class="sponsor-logo">
								<img class="sponsor-img" src="../../../assets/images/sponsor-logo2.png" alt="" />
							</div>
							<div class="sponsor-text">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
									laudantium</p>
								<button class="btn">View More <img src="../../../assets/images/right-arrowGif.gif"
										alt="" /></button>
							</div>
						</div>
					</div>
				</div>
				<div data-aos="fade-up" data-aos-duration="1500" class="col-md-3 mb-5">
					<div class="sponsor-card-container">
						<div class="card sponsor-card">
							<div class="sponsor-logo">
								<img class="sponsor-img" src="../../../assets/images/sponsor-logo1.png" alt="" />
							</div>
							<div class="sponsor-text">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
									laudantium</p>
								<button class="btn">View More <img src="../../../assets/images/right-arrowGif.gif"
										alt="" /></button>
							</div>
						</div>
					</div>
				</div>
				<div data-aos="fade-up" data-aos-duration="1500" class="col-md-3 mb-5">
					<div class="sponsor-card-container">
						<div class="card sponsor-card">
							<div class="sponsor-logo">
								<img class="sponsor-img" src="../../../assets/images/sponsor-logo2.png" alt="" />
							</div>
							<div class="sponsor-text">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
									laudantium</p>
								<button class="btn">View More <img src="../../../assets/images/right-arrowGif.gif"
										alt="" /></button>
							</div>
						</div>
					</div>
				</div>
				<div data-aos="fade-up" data-aos-duration="1500" class="col-md-3 mb-5">
					<div class="sponsor-card-container">
						<div class="card sponsor-card">
							<div class="sponsor-logo">
								<img class="sponsor-img" src="../../../assets/images/sponsor-logo.png" alt="" />
							</div>
							<div class="sponsor-text">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
									laudantium</p>
								<button class="btn">View More <img src="../../../assets/images/right-arrowGif.gif"
										alt="" /></button>
							</div>
						</div>
					</div>
				</div>
				<div data-aos="fade-up" data-aos-duration="1500" class="col-md-3 mb-5">
					<div class="sponsor-card-container">
						<div class="card sponsor-card">
							<div class="sponsor-logo">
								<img class="sponsor-img" src="../../../assets/images/sponsor-logo2.png" alt="" />
							</div>
							<div class="sponsor-text">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
									laudantium</p>
								<button class="btn">View More <img src="../../../assets/images/right-arrowGif.gif"
										alt="" /></button>
							</div>
						</div>
					</div>
				</div>
				<div data-aos="fade-up" data-aos-duration="1500" class="col-md-3 mb-5">
					<div class="sponsor-card-container">
						<div class="card sponsor-card">
							<div class="sponsor-logo">
								<img class="sponsor-img" src="../../../assets/images/sponsor-logo1.png" alt="" />
							</div>
							<div class="sponsor-text">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
									laudantium</p>
								<button class="btn">View More <img src="../../../assets/images/right-arrowGif.gif"
										alt="" /></button>
							</div>
						</div>
					</div>
				</div>
				<div data-aos="fade-up" data-aos-duration="1500" class="col-md-3 mb-5">
					<div class="sponsor-card-container">
						<div class="card sponsor-card">
							<div class="sponsor-logo">
								<img class="sponsor-img" src="../../../assets/images/sponsor-logo2.png" alt="" />
							</div>
							<div class="sponsor-text">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
									laudantium</p>
								<button class="btn">View More <img src="../../../assets/images/right-arrowGif.gif"
										alt="" /></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>