<div class="rainbow-gradient-circle"></div>
<div class="rainbow-gradient-circle theme-pink"></div>
<div class="start-ups-banner">
    <img src="../../assets/images/Fintech.png">
</div>
<!-- <div class="video-banner">
    <video width="100%" autoplay muted loop>
        <source src="../../assets/video/EHEALTH (online-video-cutter.com).mp4" type="video/mp4">
        Your browser does not support HTML video.
    </video>
</div> -->
<section class="why-we">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12  mb-4" data-aos="fade-up" data-aos-duration="400">
                <div class="start-ups-content start-ups-content-text-center">
                    <h6>
                        About the Fintech
                    </h6>
                    <p>Andhra Pradesh has strong presence of Defence Public Sector Units. The state is home to
                        the
                        Eastern Naval Command in Visakhapatnam and Satish Dhawan Space Centre SHAR (SDSC SHAR),
                        at the Indian Space Research Organization (ISRO) in Sriharikota, the primary spaceport
                        of India. The
                        Hindustan Shipyard, founded in 1941, is a PSU that is focused on ship building, ship
                        repair including
                        major overhauls of Indian Navy submarines</p>
                    <p>Andhra Pradesh has strong presence of Defence Public Sector Units. The state is home to
                        the
                        Eastern Naval Command in Visakhapatnam and Satish Dhawan Space Centre SHAR (SDSC SHAR),
                        at the Indian Space Research Organization (ISRO) in Sriharikota, the primary spaceport
                        of India. The
                        Hindustan Shipyard, founded in 1941, is a PSU that is focused on ship building, ship
                        repair including
                        major overhauls of Indian Navy submarines</p>
                </div>
            </div>
            <!--Text Column-->
            <div class="text-column  col-lg-6 col-md-6 col-sm-12 col-xs-12" data-aos="fade-right"
                data-aos-duration="500">
                <div class="inner">
                    <h2>Read Why We Expert <br>In The Fintech</h2>
                    <div class="text">This product is meant for educational purposes only. Resemblance to real persons,
                        living or dead is purely coincidental. Void prohibited. Some assembly required. List each check
                        separately by number.</div>
                    <div class="row clearfix">
                        <div class="col-md-6 col-sm-6 col-xs-12" data-aos="fade-right" data-aos-duration="500">
                            <ul class="list-style-one">
                                <li><img src="../../assets/images/right arrow.svg" style="width: 15px; height: 15px;">
                                    Audit &amp; Assurance</li>
                                <li><img src="../../assets/images/right arrow.svg" style="width: 15px; height: 15px;">
                                    Dedicated Team</li>
                                <li><img src="../../assets/images/right arrow.svg" style="width: 15px; height: 15px;">
                                    Best Advisors</li>
                                <li><img src="../../assets/images/right arrow.svg" style="width: 15px; height: 15px;">
                                    Network Solutions</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" data-aos="fade-right" data-aos-duration="700">
                            <ul class="list-style-one">
                                <li><img src="../../assets/images/right arrow.svg" style="width: 15px; height: 15px;">
                                    24/7 Supports</li>
                                <li><img src="../../assets/images/right arrow.svg" style="width: 15px; height: 15px;">
                                    Powerful Surver</li>
                                <li><img src="../../assets/images/right arrow.svg" style="width: 15px; height: 15px;">
                                    Work Deadline</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--Image Column-->
            <div class="image-column col-lg-6 col-md-6 col-sm-12" data-aos="fade-left" data-aos-duration="900">
                <div class="inner">
                    <img src="../../assets/images/fintech-new.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 " data-aos="fade-up" data-aos-duration="900">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4">

                                    <div class="card">
                                        <img src="../../assets/images/6.jpg" class="card-img-top" alt="..." style="width: 100%;
                                        height: 250px;">
                                        <div class=" card-body ">
                                            <h3 class="card-title">Card title</h3>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up the bulk of the card's content.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                    <div class="card">
                                        <img src="../../assets/images/6.jpg" class="card-img-top" alt="..." style="width: 100%;
                                        height: 250px;">
                                        <div class=" card-body ">
                                            <h3 class="card-title">Card title</h3>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up the bulk of the card's content.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                    <div class="card">
                                        <img src="../../assets/images/6.jpg" class="card-img-top" alt="..." style="width: 100%;
                                        height: 250px;">
                                        <div class=" card-body ">
                                            <h3 class="card-title">Card title</h3>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up the bulk of the card's content.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../../assets/images/6.jpg" class="card-img-top" alt="..." style="width: 100%;
                                        height: 250px;">
                                        <div class=" card-body ">
                                            <h3 class="card-title">Card title</h3>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up the bulk of the card's content.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                    <div class="card">
                                        <img src="../../assets/images/6.jpg" class="card-img-top" alt="..." style="width: 100%;
                                        height: 250px;">
                                        <div class=" card-body ">
                                            <h3 class="card-title">Card title</h3>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up the bulk of the card's content.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                    <div class="card">
                                        <img src="../../assets/images/6.jpg" class="card-img-top" alt="..." style="width: 100%;
                                        height: 250px;">
                                        <div class=" card-body ">
                                            <h3 class="card-title">Card title</h3>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up the bulk of the card's content.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../../assets/images/1.jpg" class="card-img-top" alt="..." style="width: 100%;
                                        height: 250px;">
                                        <div class=" card-body ">
                                            <h3 class="card-title">Card title</h3>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up the bulk of the card's content.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                    <div class="card">
                                        <img src="../../assets/images/6.jpg" class="card-img-top" alt="..." style="width: 100%;
                                        height: 250px;">
                                        <div class=" card-body ">
                                            <h3 class="card-title">Card title</h3>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up the bulk of the card's content.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                    <div class="card">
                                        <img src="../../assets/images/6.jpg" class="card-img-top" alt="..." style="width: 100%;
                                        height: 250px;">
                                        <div class=" card-body ">
                                            <h3 class="card-title">Card title</h3>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up the bulk of the card's content.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-title text-center">
            <h3 style="color:#3c8d3c">Other Content</h3>
            <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.
            </p>

        </div>
        <div class="row">
            <div class="col-ld-12 col-md-12 col-sm-12 ">
                <div class="services-inner-box">
                    <!-- <div class="ser-icon"><i class="flaticon-seo"></i></div> -->
                    <h2>Web Development</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam
                        risus.
                    </p>

                    <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam
                        risus.
                    </p>

                </div>
            </div>
            <div class="col-ld-12 col-md-12 col-sm-12 ">
                <div class="services-inner-box">
                    <!-- <div class="ser-icon"><i class="flaticon-seo"></i></div> -->
                    <h2>Web Development</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam
                        risus.
                    </p>
                    <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam
                        risus.
                    </p>

                </div>
            </div>
            <div class="col-ld-12 col-md-12 col-sm-12 ">
                <div class="services-inner-box">
                    <!-- <div class="ser-icon"><i class="flaticon-seo"></i></div> -->
                    <h2>Web Development</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam
                        risus.
                    </p>
                    <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam
                        risus.
                    </p>

                </div>
            </div>
            <!-- <div class="col-md-6">
                <div class="services-inner-box">
                    <h2>Responsive Design</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam
                        risus.
                    </p>
                    <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam
                        risus.
                    </p>
                    <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam
                        risus.
                    </p>
                    <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam
                        risus.
                    </p>
                </div>
            </div> -->
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 mb-3">
                <div class="row zones">
                    <h4 class="">Sector Highlights &amp; Key Initiatives</h4>
                    <div class="col-lg-12">
                        <ul>
                            <li>Some of the key investments under active implementation in the Aerospace &amp;
                                Defence sector are as follows:
                                <ul>
                                    <li>BEL’s Defence Systems Integration Complex for Weapons and Radars in
                                        Anantapur District </li>
                                    <li>BEL’s New Generation Electro-optics &amp; Advance Night Vision Cameras
                                        in Krishna District</li>
                                    <li>Air Cargo Complex near Visakhapatnam </li>
                                    <li>Stumpp Schuele Casings’s (SSC) upcoming Ammunitions manufacturing unit
                                        in Anantapur District </li>
                                    <li>Stumpp Schuele Casings’s (SSC) upcoming Ammunitions manufacturing unit
                                        in Anantapur District </li>
                                    <li>Stumpp Schuele Casings’s (SSC) upcoming Ammunitions manufacturing unit
                                        in Anantapur District </li>
                                </ul>
                            </li>
                            <li>Andhra Pradesh has dedicated infrastructure facilities for Aerospace &amp;
                                Defence such DRDO’s Electronic Warfare Test Range including a design,
                                development, production, and assembly unit in Kurnool District.
                            </li>
                            <li>Andhra Pradesh has dedicated infrastructure facilities for Aerospace &amp;
                                Defence such DRDO’s Electronic Warfare Test Range including a design,
                                development, production, and assembly unit in Kurnool District.
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>