<div class="rainbow-gradient-circle"></div>
<div class="rainbow-gradient-circle theme-pink"></div>

<section class="section-pad">
    <div class="container industry-heading">
        <div class="text-center">
            <div class="row justify-content-center">
                <div class="col-md-12 g-2">
                    <h2 style="color:#3c8d3c; margin-bottom: 60px;">Industry 4.0</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container industry-page">
        <div class="content row">
            <div class=" col-lg-12 col-md-12 col-sm-12">
                <div class="wide-sm center">
                    <h1 class="text-center" style="color:#3c8d3c">A hight level service provider that recommended to any
                        companies, firms or
                        industries.</h1>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a enim
                        aliquam,
                        condimentum nisl a,
                        laoreet lectus. Aliquam convallis sed elit nec vehicula. Praesent gravida, massa sit amet
                        ullamcorper fringilla, tortor nunc ultrices dui porttitor mi non, elementum dui.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="dis-ap section-innerpage-wapper section-eventsecdule-wapper">
        <div class="container industry-speech-heads">
            <div class="text-center">
                <div class="row justify-content-center">
                    <div class="col-md-12 g-2">
                        <h2 style="color:#3c8d3c; margin-bottom: 60px;">Messages</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-block">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-img carousel-item active" data-bs-interval="1000">
                        <div class="row align-items-center">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2 p-0">
                                <img src="../../assets/images/minister-img1.png" width="100px" height="100px">

                            </div>
                            <div class="col-md-6" style="border-left: 3px solid #ededed;" data-aos="fade-right"
                                data-aos-duration="500">
                                <div class="client_text mt-4">
                                    <h3 style="color:#3c8d3c">Jeff bezos</h3>
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation
                                        ullamco
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                        reprehenderit
                                        in."</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-img carousel-item" data-bs-interval="1000">
                        <div class="row align-items-center">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2 p-0">
                                <img src="../../assets/images/minister-img1.png" width="100px" height="100px">

                            </div>
                            <div class="col-md-6" style="border-left: 3px solid #ededed; " data-aos="fade-right"
                                data-aos-duration="500">
                                <div class="client_text mt-4">
                                    <h3 style="color:#3c8d3c">Jeff bezos</h3>
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation
                                        ullamco
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                        reprehenderit
                                        in."</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-img carousel-item" data-bs-interval="700">
                        <div class="row align-items-center">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2 p-0">
                                <img src="../../assets/images/minister-img1.png" width="100px" height="100px">

                            </div>
                            <div class="col-md-6" style="border-left: 3px solid #ededed;" data-aos="fade-left"
                                data-aos-duration="500">
                                <div class="client_text mt-4">
                                    <h3 style="color:#3c8d3c">Jeff bezos</h3>
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incquip ex ea commodo consequat. Duis aute irure dolor in
                                        reprehenderit
                                        in."</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>


    <div id="services" class="section lb">
        <div class="container">
            <div class="section-title text-center">
                <h3 style="color:#3c8d3c">Services</h3>
                <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.
                </p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="services-inner-box">
                        <!-- <div class="ser-icon"><i class="flaticon-seo"></i></div> -->
                        <h2>Web Development</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-inner-box">
                        <!-- <div class="ser-icon"><i class="flaticon-development"></i></div> -->
                        <h2>Responsive Design</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-inner-box">
                        <!-- <div class="ser-icon"><i class="flaticon-process"></i></div> -->
                        <h2>Creative Design</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-inner-box">
                        <!-- <div class="ser-icon"><i class="flaticon-discuss-issue"></i></div> -->
                        <h2>Support</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-inner-box">
                        <!-- <div class="ser-icon"><i class="flaticon-idea"></i></div> -->
                        <h2>Web Idea</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-inner-box">
                        <!-- <div class="ser-icon"><i class="flaticon-idea-1"></i></div> -->
                        <h2>Graphic Design</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-inner-box">
                        <!-- <div class="ser-icon"><i class="flaticon-process"></i></div> -->
                        <h2>Creative Design</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-inner-box">
                        <!-- <div class="ser-icon"><i class="flaticon-discuss-issue"></i></div> -->
                        <h2>Support</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-inner-box">
                        <!-- <div class="ser-icon"><i class="flaticon-idea"></i></div> -->
                        <h2>Web Idea</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>