.section-innerpage-wapper {
  padding-top: 4rem;
  margin-bottom: 2rem;
}

.dis-ap {
  margin-top: 35px;
  margin-bottom: 100px;
}

.client_container {
  width: 80%;
  height: 310px;
  margin: 0 auto;
  padding: 35px;
  background-color: #fefeff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 60px;
  margin-top: 40px;
}

.client_detail .client_img-box {
  width: 100px;
  margin-right: 15px;
}

.client_detail .client_img-box img {
  width: 100%;
}

.client_detail-box h4 {
  color: #082465;
}

.client_detail-box span {
  text-transform: uppercase;
  color: #48494a;
}

.carousel-indicators {
  top: 100%;
}

.section-block {
  margin-top: 0;
}

.carousel button {
  bottom: 5% !important;
  opacity: unset;
}

.carousel-control-prev-icon {
  /* background-image: url("../../assets/images/Vector.svg");
  transform: rotate(180deg); */
  width: 36px;
  height: 36px;
  fill: #082465;
}

.carousel-control-next-icon {
  /* background-image: url("../../assets/images/Vector.svg"); */
  width: 36px;
  height: 36px;
}

/* industry-content */

.section-pad {
  /* padding-bottom: 90px; */
  /* padding-top: 4rem; */
}

.section-pad .industry-heading {
  padding-top: 6rem;
}

.industry-page::before {
  display: table;
  content: " ";
  box-sizing: border-box;
}

.row:before {
  display: table;
  content: " ";
}

.row-vm {
  align-items: center;
  display: flex;
}

.wide-sm {
  max-width: 940px;
  margin: 0 auto;
}

.wide-sm h1 {
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 18px;
}

.wide-sm p {
  margin-bottom: 6rem;
}

.row::after {
  clear: both;
  display: table;
  content: " ";
}

.container::after {
  display: table;
  content: " ";
}

/* .industry-content-boxes */

.section {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 70px 0;
}

.section-title {
  display: block;
  position: relative;
  margin-bottom: 60px;
}

.services-inner-box {
  padding: 30px;
  background: #fff;
  margin-bottom: 30px;
  border-radius: 50px 50px 0 50px;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.25);
}

.services-inner-box h2 {
  font-size: 22px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

.services-inner-box:hover h2 {
  color: #fff;
  transition: all 0.3s ease-in-out 0s;
}

.services-inner-box:hover p {
  color: #fff;
}

.services-inner-box p {
  font-size: 14px;
  position: relative;
  z-index: 1;
}

.services-inner-box:hover::after {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out 0s;
}
.services-inner-box::after {
  background: #28a9e2;
  width: 0px;
  height: 0px;
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-radius: 50px 50px 0px 50px;
  transition: all 0.3s ease-in-out 0s;
  z-index: 0;
}

.zones {
  min-height: auto;
  padding: 3rem 2rem;
  /* background: #ffffff7a 0% 0% no-repeat padding-box; */
  background: #fff;
  box-shadow: -0.156vw 0.156vw 0.781vw rgb(0 0 0 / 16%);
  border-radius: 1.563vw;
  padding-right: 5rem;
  margin-top: 100px;
}

.zones h4 {
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.zones ul li {
  line-height: 1.8rem;
  color: #2b2b2b;
  margin-bottom: 15px;
  color: #fff;
}

.zones ul li::marker {
  color: #fff;
  font-size: 1.3rem;
  position: relative;
}

.zones {
  height: 100vh;
  background-image: url("../../assets/images/industry-blend-2.png");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  opacity: 1;
}
