<div class="start-ups-banner mb-3">
    <img src="../../assets/images/drone bg.png">
</div>
<div class="container industry-page">
    <div class="content row">
        <div class="col-md-12 g-2" data-aos="fade-up" data-aos-duration="400">
            <h2 class="text-center" style="color: #3c8d3c; margin-bottom: 60px;font-size: 45px;font-weight: 600;">Drones
            </h2>
        </div>
        <div class=" col-lg-12 col-md-12 col-sm-12" data-aos="fade-up" data-aos-duration="400">
            <div class="wide-sm center">
                <h1 class="text-center" style="color:#3c8d3c">A hight level service provider that recommended to any
                    companies, firms or
                    industries.</h1>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a enim
                    aliquam,
                    condimentum nisl a,
                    laoreet lectus. Aliquam convallis sed elit nec vehicula. Praesent gravida, massa sit amet
                    ullamcorper fringilla, tortor nunc ultrices dui porttitor mi non, elementum dui.</p>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="drone-section">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-12 col-sm-12" data-aos="fade-right" data-aos-duration="600">
                    <div class="bt_bb_service_content">
                        <div class="bt_bb_service_content_title">AERIAL PHOTOGRAPHY</div>
                        <span><svg fill="#000000" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="40px" height="40px"
                                viewBox="0 0 92 92" enable-background="new 0 0 92 92" xml:space="preserve">
                                <path id="XMLID_1173_" d="M60.8,30.9c0.8,0.8,1.3,2,1.3,3.2c0,1.2-0.5,2.3-1.3,3.2c-0.8,0.8-2,1.3-3.2,1.3c-1.2,0-2.4-0.5-3.2-1.3
                   c-0.8-0.8-1.3-2-1.3-3.2s0.5-2.3,1.3-3.2c0.8-0.8,2-1.3,3.2-1.3C58.8,29.6,60,30.1,60.8,30.9z M67.8,37.2c-1.2,0-2.3,0.5-3.2,1.3
                   c-0.8,0.8-1.3,2-1.3,3.2c0,1.2,0.5,2.4,1.3,3.2c0.8,0.8,2,1.3,3.2,1.3c1.2,0,2.4-0.5,3.2-1.3c0.8-0.8,1.3-2,1.3-3.2
                   c0-1.2-0.5-2.3-1.3-3.2C70.2,37.7,69,37.2,67.8,37.2z M33.8,35H31v-2.6c0-1.4-1.1-2.5-2.5-2.5S26,31,26,32.4V35h-2.6
                   c-1.4,0-2.5,1.1-2.5,2.5s1.1,2.5,2.5,2.5H26v2.6c0,1.4,1.1,2.5,2.5,2.5S31,44,31,42.6V40h2.8c1.4,0,2.5-1.1,2.5-2.5S35.2,35,33.8,35
                   z M92,66.1c0,4.3-2.4,7.8-6.2,9.3c-3.8,1.4-9.8,0.8-15.2-5.3c-2.6-3-7-8.4-9.4-11.4c-12.8,3-25,1.1-30.3,0c-2.4,3-6.8,8.4-9.4,11.4
                   c-3.9,4.4-8.1,6-11.6,6c-1.4,0-2.6-0.2-3.7-0.6c-3.8-1.4-6.2-5-6.2-9.3c0-11.8,7.6-30.3,10-35.8c-0.8-2.8-0.5-5.7,1-8.3
                   c1.9-3.3,5.3-5.8,8.3-6c2.6-0.2,6.1,1.3,8.4,2.4c4.5-0.8,18.7-2.9,36.6,0c2.2-1.1,5.8-2.6,8.4-2.4c2.9,0.2,6.4,2.7,8.3,6
                   c1.5,2.6,1.9,5.5,1,8.3C84.4,35.8,92,54.3,92,66.1z M84,66.1c0-11.9-9.9-33.9-10-34.1c-0.5-1.1-0.5-2.4,0.1-3.5
                   c0.4-0.8,0.4-1.5,0.1-2.2c-0.5-1.2-1.7-2.1-2.2-2.3c-0.9,0.1-3.3,1.1-5.2,2.1c-0.8,0.4-1.7,0.6-2.6,0.4c-20.5-3.6-36.2-0.1-36.3,0
                   c-0.9,0.2-1.9,0.1-2.8-0.4c-1.9-1-4.3-2-5.2-2.1c-0.5,0.3-1.7,1.1-2.2,2.3c-0.3,0.8-0.3,1.4,0.1,2.2c0.5,1.1,0.6,2.4,0.1,3.5
                   C17.9,32.2,8,54.2,8,66.1c0,0.9,0.4,1.5,1,1.8c1.4,0.5,3.9-0.3,6.4-3.1c3.5-4,10.7-13,10.8-13.1c1-1.3,2.7-1.8,4.2-1.3
                   c0.2,0,15.8,4.4,31.1,0c0.4-0.1,0.7-0.2,1.1-0.2c1.2,0,2.4,0.5,3.1,1.5c0.1,0.1,7.3,9.1,10.8,13.1c2.5,2.9,5,3.7,6.4,3.1
                   C83.6,67.6,84,67,84,66.1z" />
                            </svg></span>
                    </div>
                    <div class="bt_bb_service_content_text">A drone is an unmanned aerial vehicle (UAV) that is fitted
                        with various equipment including photography and videography leverage agile frameworks.</div>
                    <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_medium"
                        data-bt-override-class="null"></div>
                    <div class="bt_bb_service_content"><span data-ico-drones="" class="bt_bb_icon_holder"></span>
                        <div class="bt_bb_service_content_title">AERIAL PHOTOGRAPHY</div>

                        <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                        <span>
                            <svg fill="#000000" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="40px" height="40px"
                                viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                                <path d="M256,0C114.609,0,0,114.609,0,256s114.609,256,256,256s256-114.609,256-256S397.391,0,256,0z M256,472
	c-119.297,0-216-96.703-216-216S136.703,40,256,40s216,96.703,216,216S375.297,472,256,472z" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M319.5,208.5h-128v96h128V208.5z M367.5,336.5h-48v16h64v-64h-16V336.5z
	 M319.5,160.5v16h48v48h16v-64H319.5z M143.5,176.5h48v-16h-64v64h16V176.5z M143.5,288.5h-16v64h64v-16h-48V288.5z" />
                            </svg>
                        </span>
                    </div>
                    <div class="bt_bb_service_content_text">A drone is an unmanned aerial vehicle (UAV) that is fitted
                        with various equipment including photography and videography leverage agile frameworks.</div>
                </div>
                <!-- ---col-lg-6--- -->
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="drone-img-sec">
                        <img src="../../assets/images/drone 2.png" alt=".." style="width: 580px; height: 340px;">
                    </div>
                </div>
                <!-- -----col-lg-3------------ -->
                <div class="col-lg-3 col-md-12 col-sm-12" data-aos="fade-left" data-aos-duration="600">
                    <div class="bt_bb_service_content_2">
                        <span><svg fill="#000000" height="40px" width="40px" version="1.1" id="Capa_1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                viewBox="0 0 510.991 510.991" xml:space="preserve">
                                <g>
                                    <path d="M255.19,312.694h-0.01c-4.142,0-7.495,3.358-7.495,7.5s3.363,7.5,7.505,7.5s7.5-3.358,7.5-7.5
                               S259.332,312.694,255.19,312.694z" />
                                    <path d="M500.676,441.447L309.241,330.922c-0.095-0.058-0.191-0.114-0.29-0.167l-14.297-8.255c0.044-0.764,0.073-1.532,0.073-2.307
                               c0-19.285-13.875-35.381-32.165-38.853v-10.426l58.181-25.858c8.778-3.901,13.673-13.221,11.903-22.663
                               c-0.024-0.131-0.053-0.262-0.084-0.393L288.443,40.805c-1.915-9.641-10.392-16.616-20.243-16.616
                               c-11.38,0-20.638,9.258-20.638,20.638v221.051c-0.002,0.111-0.002,0.221,0,0.333v15.168c-18.183,3.558-31.948,19.605-31.948,38.814
                               c0,5.173,1.009,10.113,2.822,14.646l-9.238,6.454l-54.52-32.884c-8.226-4.961-18.669-3.635-25.395,3.223
                               c-0.094,0.095-0.185,0.193-0.273,0.293L5.745,451.868c-6.807,7.092-7.669,18.036-2.027,26.11c3.157,4.52,7.885,7.539,13.313,8.501
                               c1.218,0.216,2.438,0.323,3.649,0.323c4.188,0,8.271-1.276,11.776-3.726l181.209-126.604c0.09-0.06,0.179-0.122,0.266-0.186
                               l12.627-8.822c7.209,7.561,17.366,12.286,28.613,12.286c15.591,0,29.099-9.069,35.539-22.206l6.669,3.85l-6.697,63.315
                               c-1.01,9.554,4.613,18.452,13.675,21.64c0.126,0.044,0.253,0.085,0.382,0.123l178.979,52.391c2.183,0.742,4.419,1.098,6.628,1.098
                               c7.207,0,14.114-3.791,17.884-10.32C513.92,459.785,510.531,447.138,500.676,441.447z M262.562,44.827
                               c0-3.109,2.529-5.638,5.638-5.638c2.711,0,5.042,1.934,5.542,4.599c0.025,0.132,0.053,0.263,0.084,0.393l44.104,181.135
                               c0.401,2.525-0.93,4.99-3.279,6.034L262.562,254.5V44.827z M23.865,470.781c-1.235,0.862-2.732,1.191-4.214,0.93
                               c-1.483-0.263-2.774-1.088-3.637-2.323c-1.553-2.223-1.302-5.241,0.596-7.177c0.094-0.095,0.185-0.193,0.273-0.293l123.225-139.895
                               c1.84-1.776,4.623-2.097,6.825-0.768l48.81,29.44L23.865,470.781z M255.17,344.75c-13.541,0-24.556-11.016-24.556-24.556
                               s11.016-24.556,24.556-24.556s24.556,11.016,24.556,24.556c0,0.877-0.048,1.742-0.138,2.595c-0.711,1.344-0.974,2.811-0.834,4.229
                               C275.79,337.247,266.343,344.75,255.17,344.75z M495.24,462.139c-1.356,2.349-4.197,3.398-6.754,2.5
                               c-0.126-0.044-0.253-0.085-0.382-0.123l-178.919-52.373c-2.387-0.915-3.856-3.3-3.586-5.857l5.996-56.686l181.581,104.836
                               C495.868,455.992,496.794,459.447,495.24,462.139z" />
                                </g>
                            </svg></span>
                        <div class="bt_bb_service_content_title_2">AERIAL PHOTOGRAPHY</div>

                    </div>
                    <div class="bt_bb_service_content_text_2">A drone is an unmanned aerial vehicle (UAV) that is fitted
                        with various equipment including photography and videography leverage agile frameworks.</div>
                    <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_medium"
                        data-bt-override-class="null"></div>
                    <div class="bt_bb_service_content_2"><span>
                            <svg fill="#000000" width="40px" height="40px" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M20,7H18V5h2a1,1,0,0,0,0-2H14a1,1,0,0,0,0,2h2V7H8V5h2a1,1,0,0,0,0-2H4A1,1,0,0,0,4,5H6V7H4a3,3,0,0,0,0,6H6.1a4.955,4.955,0,0,0,.99,2.092A5,5,0,0,0,3,20a1,1,0,0,0,2,0,3,3,0,0,1,3-3h3v2a1,1,0,0,0,2,0V17h3a3,3,0,0,1,3,3,1,1,0,0,0,2,0,5,5,0,0,0-4.091-4.908A4.955,4.955,0,0,0,17.9,13H20a3,3,0,0,0,0-6Zm0,4H17a1,1,0,0,0-1,1,3,3,0,0,1-3,3H11a3,3,0,0,1-3-3,1,1,0,0,0-1-1H4A1,1,0,0,1,4,9H20a1,1,0,0,1,0,2Zm-6,1a2,2,0,0,1-4,0,1.929,1.929,0,0,1,.1-.581A1,1,0,1,0,11.417,10.1,1.978,1.978,0,0,1,12,10,2,2,0,0,1,14,12Z" />
                            </svg>
                        </span>
                        <div class="bt_bb_service_content_title_2">AERIAL PHOTOGRAPHY</div>
                    </div>
                    <div class="bt_bb_service_content_text_2">A drone is an unmanned aerial vehicle (UAV) that is fitted
                        with various equipment including photography and videography leverage agile frameworks.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="drone-message-banner">
        <div class="container">
            <div class="">
                <div class="row justify-content-center">
                    <div class="col-md-12 g-2">
                        <h2 style="color: #fff; margin: 30px 0px;font-weight: 600; text-align: center;">
                            Technology Message
                        </h2>
                    </div>
                </div>
            </div>
            <div class="content row">
                <div class=" col-lg-12 col-md-12 col-sm-12" data-aos="fade-up" data-aos-duration="400">
                    <div class="tech-message">
                        <!-- <h1 class="text-center" style="color:#fff">A hight level service provider that recommended to any
                            companies, firms or
                            industries.</h1> -->
                        <p class="" style="color:#efefef">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.
                            Mauris a
                            enim
                            aliquam,
                            condimentum nisl a,
                            laoreet lectus. Aliquam convallis sed elit nec vehicula. Praesent gravida, massa
                            sit amet
                            ullamcorper fringilla, tortor nunc ultrices dui porttitor mi non, elementum dui.
                        </p>
                        <p class="" style="color:#fff">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.
                            Mauris a
                            enim
                            aliquam,
                            condimentum nisl a,
                            laoreet lectus. Aliquam convallis sed elit nec vehicula. Praesent gravida, massa
                            sit amet
                            ullamcorper fringilla, tortor nunc ultrices dui porttitor mi non, elementum dui.
                        </p>
                        <p class="" style="color:#fff">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.
                            Mauris a
                            enim
                            aliquam,
                            condimentum nisl a,
                            laoreet lectus. Aliquam convallis sed elit nec vehicula. Praesent gravida, massa
                            sit amet
                            ullamcorper fringilla, tortor nunc ultrices dui porttitor mi non, elementum dui.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="mt_heading">
                <h2 class="section_heading text-center">How it Works</h2>
                <p class="heading_txt text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi </p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 work_description" data-aos="fade-right" data-aos-duration="600">
                <h3>What you get in this landing page!</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page
                    when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters.</p>
                <ul>
                    <li>All the Lorem Ipsum generators on the Internet tendto repeat predefined chunks as necessary.
                    </li>
                    <li>All the Lorem Ipsum generators on the Internet.</li>
                    <li>All the Lorem Ipsum generators on the Internet tendto repeat predefined.</li>

                </ul>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 text-center workdrone wow fadeInRight" data-aos="fade-up-left"
                data-aos-duration="600" style="visibility: visible; animation-name: fadeInRight;">
                <img src="../../assets/images/work-drone.png" alt="">
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 mb-3">
                <div class="row zones">
                    <h4 class="">Sector Highlights &amp; Key Initiatives</h4>
                    <div class="col-lg-12">
                        <ul>
                            <li>Some of the key investments under active implementation in the Aerospace &amp;
                                Defence sector are as follows:
                                <ul>
                                    <li>BEL’s Defence Systems Integration Complex for Weapons and Radars in
                                        Anantapur District </li>
                                    <li>BEL’s New Generation Electro-optics &amp; Advance Night Vision Cameras
                                        in Krishna District</li>
                                    <li>Air Cargo Complex near Visakhapatnam </li>
                                    <li>Stumpp Schuele Casings’s (SSC) upcoming Ammunitions manufacturing unit
                                        in Anantapur District </li>
                                    <li>Stumpp Schuele Casings’s (SSC) upcoming Ammunitions manufacturing unit
                                        in Anantapur District </li>
                                    <li>Stumpp Schuele Casings’s (SSC) upcoming Ammunitions manufacturing unit
                                        in Anantapur District </li>
                                </ul>
                            </li>
                            <li>Andhra Pradesh has dedicated infrastructure facilities for Aerospace &amp;
                                Defence such DRDO’s Electronic Warfare Test Range including a design,
                                development, production, and assembly unit in Kurnool District.
                            </li>
                            <li>Andhra Pradesh has dedicated infrastructure facilities for Aerospace &amp;
                                Defence such DRDO’s Electronic Warfare Test Range including a design,
                                development, production, and assembly unit in Kurnool District.
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>