<div class="start-ups-banner mb-3">
    <img src="../../assets/images/drone bg.png">
</div>
<div class="container industry-page">
    <div class="content row">
        <div class="col-md-12 g-2">
            <h2 class="text-center" style="color: #3c8d3c; margin-bottom: 60px;font-size: 45px;font-weight: 600;">
                Transformation of Health Care <br>Into Digital
            </h2>
        </div>
        <div class=" col-lg-12 col-md-12 col-sm-12">
            <div class="wide-sm center">
                <h1 class="text-center" style="color:#3c8d3c">A hight level service provider that recommended to any
                    companies, firms or
                    industries.</h1>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a enim
                    aliquam,
                    condimentum nisl a,
                    laoreet lectus. Aliquam convallis sed elit nec vehicula. Praesent gravida, massa sit amet
                    ullamcorper fringilla, tortor nunc ultrices dui porttitor mi non, elementum dui.</p>
            </div>
        </div>
    </div>
    <div class="transformation-healthcare">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" data-aos="zoom-in" data-aos-duration="700">
                <div class="healthcare-img">
                    <img src="../../assets/images/tranfomation of health into digital.png" alt="...">
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 mb-3">
            <div class="row zones">
                <h4 class="">Sector Highlights &amp; Key Initiatives</h4>
                <div class="col-lg-12">
                    <ul>
                        <li>Some of the key investments under active implementation in the Aerospace &amp;
                            Defence sector are as follows:
                            <ul>
                                <li>BEL’s Defence Systems Integration Complex for Weapons and Radars in
                                    Anantapur District </li>
                                <li>BEL’s New Generation Electro-optics &amp; Advance Night Vision Cameras
                                    in Krishna District</li>
                                <li>Air Cargo Complex near Visakhapatnam </li>
                                <li>Stumpp Schuele Casings’s (SSC) upcoming Ammunitions manufacturing unit
                                    in Anantapur District </li>
                                <li>Stumpp Schuele Casings’s (SSC) upcoming Ammunitions manufacturing unit
                                    in Anantapur District </li>
                                <li>Stumpp Schuele Casings’s (SSC) upcoming Ammunitions manufacturing unit
                                    in Anantapur District </li>
                            </ul>
                        </li>
                        <li>Andhra Pradesh has dedicated infrastructure facilities for Aerospace &amp;
                            Defence such DRDO’s Electronic Warfare Test Range including a design,
                            development, production, and assembly unit in Kurnool District.
                        </li>
                        <li>Andhra Pradesh has dedicated infrastructure facilities for Aerospace &amp;
                            Defence such DRDO’s Electronic Warfare Test Range including a design,
                            development, production, and assembly unit in Kurnool District.
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>