<div class="start-ups-banner mb-3">
    <img src="../../assets/images/drone bg.png">
</div>
<div class="container industry-page">
    <div class="content row">
        <div class="col-md-12 g-2">
            <h2 class="text-center" style="color: #3c8d3c; margin-bottom: 60px;font-size: 45px;font-weight: 600;">
                Transformation of Health Care <br>Into Digital
            </h2>
        </div>
        <div class=" col-lg-12 col-md-12 col-sm-12">
            <div class="wide-sm center">
                <h1 class="text-center" style="color:#3c8d3c">A hight level service provider that recommended to any
                    companies, firms or
                    industries.</h1>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a enim
                    aliquam,
                    condimentum nisl a,
                    laoreet lectus. Aliquam convallis sed elit nec vehicula. Praesent gravida, massa sit amet
                    ullamcorper fringilla, tortor nunc ultrices dui porttitor mi non, elementum dui.</p>
            </div>
        </div>
    </div>
    <div class="transformation-healthcare">
        <div class="row">
            <div class="col-md-6">
                <div class="healthcare-image">

                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>