<div class="start-ups-banner mb-3">
    <img src="../../assets/images/drone bg.png">
</div>
<div class="container industry-page">
    <div class="content row">
        <div class="col-md-12 g-2">
            <h2 class="text-center" style="color: #3c8d3c; margin-bottom: 60px;font-size: 45px;font-weight: 600;">
                Transformation of Health Care <br>Into Digital
            </h2>
        </div>
        <div class=" col-lg-12 col-md-12 col-sm-12">
            <div class="wide-sm center">
                <h1 class="text-center" style="color:#3c8d3c">A hight level service provider that recommended to any
                    companies, firms or
                    industries.</h1>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a enim
                    aliquam,
                    condimentum nisl a,
                    laoreet lectus. Aliquam convallis sed elit nec vehicula. Praesent gravida, massa sit amet
                    ullamcorper fringilla, tortor nunc ultrices dui porttitor mi non, elementum dui.</p>
            </div>
        </div>
    </div>
    <div class="transformation-healthcare">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" data-aos="zoom-in" data-aos-duration="700">
                <div class="healthcare-img">
                    <img src="../../assets/images/tranfomation of health into digital.png" alt="...">
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center mt-5">
        <div class="col-lg-6" data-aos="fade-right" data-aos-duration="700">
            <div class="solutions-content wow fadeInLeft delay-0-2s animated"
                style="visibility: visible; animation-name: fadeInLeft;">
                <span class="top-title">Consumer Telehealth Solutions</span>
                <h2>The telehealth platform provides solutions to all sorts of problems</h2>

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Improved Health Access
                            </button>
                        </h2>

                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample" style="">
                            <div class="accordion-body">
                                <p>Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus
                                    convallis lectus. Donec sollicitudin molestie malesuada. Vivamus magna justo,
                                    lacinia eget consectetur sed, convallis at tellus Contact
                                    Us</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Appointment Management
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus
                                    convallis lectus. Donec sollicitudin molestie malesuada. Vivamus magna justo,
                                    lacinia eget consectetur sed, convallis at tellus.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Clinical Data Management
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus
                                    convallis lectus. Donec sollicitudin molestie malesuada. Vivamus magna justo,
                                    lacinia eget consectetur sed, convallis at tellus.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Dedicated Quality Assurance
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus
                                    convallis lectus. Donec sollicitudin molestie malesuada. Vivamus magna justo,
                                    lacinia eget consectetur sed, convallis at tellus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6" data-aos="fade-left" data-aos-duration="900">
            <div class="solutions-img wow fadeInRight delay-0-2s animated"
                style="visibility: visible; animation-name: fadeInRight; ">
                <img src="../../assets/images/telehealth.png" alt="Image" style="height: 420px;width: 100%;">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12 col-md-12 mb-3">
            <div class="row zones">
                <h4 class="">Sector Highlights &amp; Key Initiatives</h4>
                <div class="col-lg-12">
                    <ul>
                        <li>Some of the key investments under active implementation in the Aerospace &amp;
                            Defence sector are as follows:
                            <ul>
                                <li>BEL’s Defence Systems Integration Complex for Weapons and Radars in
                                    Anantapur District </li>
                                <li>BEL’s New Generation Electro-optics &amp; Advance Night Vision Cameras
                                    in Krishna District</li>
                                <li>Air Cargo Complex near Visakhapatnam </li>
                                <li>Stumpp Schuele Casings’s (SSC) upcoming Ammunitions manufacturing unit
                                    in Anantapur District </li>
                                <li>Stumpp Schuele Casings’s (SSC) upcoming Ammunitions manufacturing unit
                                    in Anantapur District </li>
                                <li>Stumpp Schuele Casings’s (SSC) upcoming Ammunitions manufacturing unit
                                    in Anantapur District </li>
                            </ul>
                        </li>
                        <li>Andhra Pradesh has dedicated infrastructure facilities for Aerospace &amp;
                            Defence such DRDO’s Electronic Warfare Test Range including a design,
                            development, production, and assembly unit in Kurnool District.
                        </li>
                        <li>Andhra Pradesh has dedicated infrastructure facilities for Aerospace &amp;
                            Defence such DRDO’s Electronic Warfare Test Range including a design,
                            development, production, and assembly unit in Kurnool District.
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>