<div class="start-ups-banner mb-3">
    <img src="../../assets/images/next gen agriculture.png" alt="..." />
</div>

<section>
    <div class="container industry-heading">
        <div class="text-center">
            <div class="row justify-content-center">
                <div class="col-md-12 g-2">
                    <h2 style="
              color: #3c8d3c;
              margin-bottom: 60px;
              font-size: 36px;
              font-weight: 600;
            ">
                        Next Gen Agriculture
                    </h2>
                </div>
            </div>
            <div class="content row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="wide-sm center">
                        <h1 class="text-center" style="color: #3c8d3c">
                            A hight level service provider that recommended to any companies,
                            firms or industries.
                        </h1>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a
                            enim aliquam, condimentum nisl a, laoreet lectus. Aliquam
                            convallis sed elit nec vehicula. Praesent gravida, massa sit amet
                            ullamcorper fringilla, tortor nunc ultrices dui porttitor mi non,
                            elementum dui.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="tech-img">
                        <img src="../../assets/images/smart-light-green-icon.svg" />
                    </div>
                    <div class="tech-content">
                        <h6>Smart Crop Monitoring</h6>
                        <p>
                            Connected irrigation and nutrient-distribution equipment uses sensor data and imagery
                            analysis to optimise resource usage and crop growth through real-time, precise,
                            location-dependent adjustments.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="tech-img">
                        <img src="../../assets/images/drone-light-green-icon.svg" />
                    </div>
                    <div class="tech-content">
                        <h6>Drone Farming</h6>
                        <p>
                            Drone surveillance and remote interventions based on image analysis and connected sensors
                            communicating data with the drone aim to provide more frequent, cost-effective remote
                            monitoring of large areas and enable remote interventions to boost yield and reduce pest
                            losses while optimising deployment costs.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="tech-img">
                        <img src="../../assets/images/live-light-green-icon.svg" />
                    </div>
                    <div class="tech-content">
                        <h6>Smart-Livestock Monitoring</h6>
                        <p>
                            Individualised feeding-and-care plans based on connected-body sensor data and movement
                            tracking to detect illnesses early and give each animal the best feed and medicine mix for
                            growth.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="tech-img">
                        <img src="../../assets/images/autonomous-light-green-icon.svg" />
                    </div>
                    <div class="tech-content">
                        <h6>Autonomous Farming Machinery</h6>
                        <p>
                            Self-operated machinery and robots that use connected-sensor data, GPS data, and imagery
                            analysis to optimise resource utilisation, reduce labour, and increase yield.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container agriculture-tech-header p-0">
        <div class="container position-relative mt-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="agriculture-tech">
                        <img class="agriculture-tech-banner-img"
                            src="../../assets/images/technologies-in-agriculture.jpg.jpg" alt="..">
                        <div class="agriculture-tech-card card">
                            <div class="textile-content d-block">
                                <p class="m-0 text-center">Andhra Pradesh has robust air-connectivity infrastructure
                                    with 6
                                    Accelerating technological advancements in farming are having a profound impact on
                                    the industry. Agricultural satellite technology is rising to the forefront to better
                                    manage inputs, streamline operations, and increase farm productivity. Higher yields
                                    and lower maintenance costs.
                                    poised to develop this sector further with a host of major initiatives which
                                    include:
                                </p>
                                <ul class="mt-4">
                                    <li class="mb-2">
                                        poised to develop this sector further with a host of major initiatives which
                                        include:</li>
                                    <li class="mb-2">poised to develop this sector further with a host of major
                                        initiatives which
                                        include:</li>
                                    <li class="mb-2">poised to develop this sector further with a host of major
                                        initiatives which
                                        include:
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 g-2">
                <h2 style="
          color: #3c8d3c;
          margin-bottom: 60px;
          font-size: 36px;
          font-weight: 600;
          text-align: center;
        ">
                    Next Gen Agriculture Technologies
                </h2>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="nextgen-technology-sec">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Technology #1
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the first item's accordion body.</strong> It is shown by default,
                                    until the collapse plugin adds the appropriate classes that we use to style each
                                    element. These classes control the overall appearance, as well as the showing and
                                    hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                    our default variables. It's also worth noting that just about any HTML can go within
                                    the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Technology #2
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the second item's accordion body.</strong> It is hidden by default,
                                    until the collapse plugin adds the appropriate classes that we use to style each
                                    element. These classes control the overall appearance, as well as the showing and
                                    hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                    our default variables. It's also worth noting that just about any HTML can go within
                                    the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Technology #3
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default,
                                    until the collapse plugin adds the appropriate classes that we use to style each
                                    element. These classes control the overall appearance, as well as the showing and
                                    hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                    our default variables. It's also worth noting that just about any HTML can go within
                                    the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Technology #4
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default,
                                    until the collapse plugin adds the appropriate classes that we use to style each
                                    element. These classes control the overall appearance, as well as the showing and
                                    hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                    our default variables. It's also worth noting that just about any HTML can go within
                                    the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 mb-3">
                <div class="row zones">
                    <h4 class="">Sector Highlights &amp; Key Initiatives</h4>
                    <div class="col-lg-12">
                        <ul>
                            <li>Some of the key investments under active implementation in the Aerospace &amp;
                                Defence sector are as follows:
                                <ul>
                                    <li>BEL’s Defence Systems Integration Complex for Weapons and Radars in
                                        Anantapur District </li>
                                    <li>BEL’s New Generation Electro-optics &amp; Advance Night Vision Cameras
                                        in Krishna District</li>
                                    <li>Air Cargo Complex near Visakhapatnam </li>
                                    <li>Stumpp Schuele Casings’s (SSC) upcoming Ammunitions manufacturing unit
                                        in Anantapur District </li>
                                    <li>Stumpp Schuele Casings’s (SSC) upcoming Ammunitions manufacturing unit
                                        in Anantapur District </li>
                                    <li>Stumpp Schuele Casings’s (SSC) upcoming Ammunitions manufacturing unit
                                        in Anantapur District </li>
                                </ul>
                            </li>
                            <li>Andhra Pradesh has dedicated infrastructure facilities for Aerospace &amp;
                                Defence such DRDO’s Electronic Warfare Test Range including a design,
                                development, production, and assembly unit in Kurnool District.
                            </li>
                            <li>Andhra Pradesh has dedicated infrastructure facilities for Aerospace &amp;
                                Defence such DRDO’s Electronic Warfare Test Range including a design,
                                development, production, and assembly unit in Kurnool District.
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>