<header id="header" class="header-area navbar-area-with-bottom-color">
    <div class="elkevent-mobile-nav">
        <div class="logo">
            <a class="navbar-brand gis-mobile-logo" href="#"><img class="logo-img"
                    src="../../assets/images/Anusandhaan Logo.png" alt="logo" /></a>
        </div>
    </div>

    <!-- <div class="elkevent-nav">
        <div class="container p-0">
            <nav class="navbar navbar-expand-md navbar-light p-0">
                <a class="navbar-brand" href="#"><img src="../../assets/images/Anusandhaan Logo.png" class="logo-img"
                        alt="logo" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link active home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link ap_Gis">Anusandhaan Yuva 2023</a>
                            <ul class="dropdown-menu child-nav-gis">
                                <li class="nav-item">
                                    <a routerLink="/about" href="#" class="nav-link">About</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">College Connect</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Industry Connect </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Event Schedule</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/speakers" href=" #" class="nav-link">Speakers</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Venue Details</a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">Exhibition </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/advantage-anusandhaan" href="#" class="nav-link existing_policy">Advantage
                                Anusandhaan</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link focus_Sector">Focus Sectors</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a routerLink="/start-ups" href="#" class="nav-link">Startup's & Technologies</a>
                                </li>

                                <li class="nav-item">
                                    <a routerLink="/incubations-investments" href="#" class="nav-link">Incubations &
                                        Investments</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/e-health" href="#" class="nav-link">eHealth</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/edtech" href="#" class="nav-link">Edtech</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/agritech" href="#" class="nav-link">Agritech</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/e-automobiles" href="#" class="nav-link">eAutomobiles</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/renewable-energy" href="#" class="nav-link">Renewable Energy</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/environment" href="#" class="nav-link">Environment</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/logistics" href="#" class="nav-link">Logistics</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link advantage_Ap">Seminars & Workshops</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Emerging Technologies</a>
                                </li>

                                <li class="nav-item">
                                    <a routerLink="/industryConnect" href="#" class="nav-link">Industry 4.0</a>
                                </li>
                            </ul>
                        </li>


                        <li class="nav-item">
                            <a href="#" class="nav-link news_Updates">Sponsorships</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a routerLink="/supporting-organizations" href="#" class="nav-link">Supporting
                                        Organizations</a>
                                </li>

                                <li class="nav-item">
                                    <a routerLink="/event-partners" href="#" class="nav-link">Event Partners</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/prime-partners" href="#" class="nav-link">Prime Partners</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/premium-partners" href="#" class="nav-link">Premium Partners</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/principle-partners" href="#" class="nav-link">Principle Partners</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/principle-co-partners" href="#" class="nav-link">Principle
                                        Co-Partners</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/associate-partners" href="#" class="nav-link">Associate Partners</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/associate-co-partners" href="#" class="nav-link">Associate
                                        Co-Partners</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/corporate-partners" href="#" class="nav-link">Corporate Partners</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a routerLink="/contact-us" class="nav-link contact_Us">Contact us</a>
                        </li>
                        <li class="nav-item anusandhan-register">
                            <a class="btn anusandhan-btn">Register <i class="fa fa-caret-down"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="#" class="nav-link" href="#">Student</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" href="#">Unemployed Youth & Women</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" href="#">Exhibitors</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div> -->



    <div class="elkevent-nav">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container p-0">
                <a class="navbar-brand" href="#"><img class="logo-img" src="../../assets/images/Anusandhaan Logo.png"
                        alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Anusandhaan Yuva 2023
                            </a>
                            <ul class="dropdown-menu child-nav-gis">
                                <li class="nav-item">
                                    <a routerLink="/about" href="#" class="nav-link">About</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">College Connect</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Industry Connect </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/event-schedule" href="#" class="nav-link">Event Schedule</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/speakers" href=" #" class="nav-link">Speakers</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/venue-details" href="#" class="nav-link">Venue Details</a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">Exhibition </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/advantage-anusandhaan" href="#" class="nav-link existing_policy">Advantage
                                Anusandhaan</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Focus Sectors
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="nav-item">
                                    <a routerLink="/start-ups" href="#" class="nav-link">Startup's & Technologies</a>
                                </li>

                                <li class="nav-item">
                                    <a routerLink="/incubations-investments" href="#" class="nav-link">Incubations &
                                        Investments</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/e-health" href="#" class="nav-link">eHealth</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/edtech" href="#" class="nav-link">Edtech</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/agritech" href="#" class="nav-link">Agritech</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/e-automobiles" href="#" class="nav-link">eAutomobiles</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/renewable-energy" href="#" class="nav-link">Renewable Energy</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/environment" href="#" class="nav-link">Environment</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/logistics" href="#" class="nav-link">Logistics</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link advantage_Ap">Seminars & Workshops</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a routerLink="/emerging-technologies" href="#" class="nav-link">Emerging
                                        Technologies</a>
                                </li>

                                <li class="nav-item">
                                    <a routerLink="/industry-connect" href="#" class="nav-link">Industry 4.0</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Sponsorships
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="nav-item">
                                    <a routerLink="/supporting-organizations" href="#" class="nav-link">Supporting
                                        Organizations</a>
                                </li>

                                <li class="nav-item">
                                    <a routerLink="/event-partners" href="#" class="nav-link">Event Partners</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/prime-partners" href="#" class="nav-link">Prime Partners</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/premium-partners" href="#" class="nav-link">Premium Partners</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/principle-partners" href="#" class="nav-link">Principle Partners</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/principle-co-partners" href="#" class="nav-link">Principle
                                        Co-Partners</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/associate-partners" href="#" class="nav-link">Associate Partners</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/associate-co-partners" href="#" class="nav-link">Associate
                                        Co-Partners</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/corporate-partners" href="#" class="nav-link">Corporate Partners</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/contact-us" href="#" class="nav-link existing_policy">
                                Contact Us</a>
                        </li>
                        <li class="nav-item anusandhan-register dropdown">
                            <a class="btn anusandhan-btn">Register <i class="fa fa-caret-down"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="#" class="nav-link" href="#">Student</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" href="#">Unemployed Youth & Women</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" href="#">Exhibitors</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <div class="gtranslate"></div>
</header>

<div>
    <router-outlet></router-outlet>
</div>
<footer>
    <div class="footer-container">
        <div class="container">
            <div class="row ">
                <div class="col-md-4 p-0">
                    <div class="anusandhan-footer-logo">
                        <img src="../../assets/images/Anusandhaan Logo Final-01png.png" class=""
                            style="height:100px; width:100px" />
                        <h4>Anusandhaan Yuva
                        </h4>
                    </div>
                    <p class="mt-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam
                    </p>
                    <p class="mt-4">
                        A Program for Entrepreneur Development, Youth & Women Empowerment.
                    </p>

                </div>
                <div class="col-md-4 p-0">
                    <ul class="footer-lists">
                        <li class="footer-head">
                            <h6>Use Full Links</h6>
                        </li>
                        <li class="footer-body">
                            <div class="row">
                                <div class="col-md-6 col-6">
                                    <ul class="footer-sub-list">
                                        <li><a href="#" class="footer-body-items">About</a></li>
                                        <li><a href="#" class="footer-body-items">Services</a></li>
                                        <li><a href="#" class="footer-body-items">Portfolio</a></li>
                                        <li>
                                            <a href="#" class="footer-body-items">Testimonial</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-6">
                                    <ul class="footer-sub-list">
                                        <li><a href="#" class="footer-body-items">Team</a></li>
                                        <li><a href="#" class="footer-body-items">Blog</a></li>
                                        <li><a href="#" class="footer-body-items">FAQ</a></li>
                                        <li>
                                            <a href="#" class="footer-body-items">Policy Policy</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 p-0">
                    <div class="row">
                        <div class="col-12">
                            <ul class="footer-lists">
                                <li class="footer-head">
                                    <h6>Contact Info</h6>
                                </li>
                                <li>
                                    <p class="mb-3">
                                        <img src="../../assets/images/location.png" />Aarush Group,
                                        #103, Pratap's Pride Apts
                                        Shantipuram, Akkaypalem, Visakhapatnam 530016
                                    </p>
                                    <p class="">
                                        <img src="../../assets/images/email.png"
                                            style="height: 13px; width: 15px" />email@aarushgrp.com
                                    </p>
                                </li>
                            </ul>
                            <div class="social-links">
                                <ul style="list-style: none;" class="social-media-links">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <li>
                                                <a href="#" class="link">
                                                    <img src="../../assets/images/facebook.png" style="height: 20px; width: 20px; margin-right: 10px;
                                                " />Facebook
                                                </a>

                                            </li>
                                            <li>
                                                <a href="#" class="link">
                                                    <img src="../../assets/images/instagram.png"
                                                        style="height: 20px; width: 20px; margin-right: 10px" />Instagram</a>
                                            </li>
                                        </div>
                                        <div class="col-md-6">
                                            <li>
                                                <a href="#" class="link">
                                                    <img src="../../assets/images/twitter.png"
                                                        style="height: 20px; width: 20px; margin-right: 10px" />Twitter
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="link ">
                                                    <img src="../../assets/images/linkedin.png"
                                                        style="height: 23px; width: 23px; margin-right: 10px" />Linked
                                                    In
                                                </a>
                                            </li>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer-spacer-wap"></div>
            <div class="copyright">
                <div class="container copyright-text text-center">
                    <div class="row align-items-center pb-3">
                        <div class="col-md-7 col-12 p-0">
                            <p class="text-white copyright-text mb-2">Copyright 2023 - All Rights Reserved
                                Official Website of Aarush Group, Andhra Pradesh, India.
                            </p>
                        </div>
                        <div class="col-md-5 technology-partners col-12 d-flex align-items-center">
                            <h6 class="me-4">Technology Partners :</h6>
                            <div>
                                <img src="../../assets/images/Aarush Group Logo Png.png" style="background: white;
                                    height: 45px;
                                    width: 50px;">
                                <img src="../../assets/images/mouritech-logo.png" class="bg-white ms-2"
                                    style="height: 45px; width: 150px ;padding:5px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>