<header id="header" class="header-area navbar-area-with-bottom-color">
    <div class="elkevent-mobile-nav">
        <div class="logo">
            <a class="navbar-brand gis-mobile-logo" href="#"><img class="logo-img"
                    src="../../assets/images/Anusandhaan Logo.png" alt="logo"></a>

        </div>
    </div>

    <div class="elkevent-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light p-0">
                <a class="navbar-brand" href="#"><img src="../../assets/images/Anusandhaan Logo.png" class="logo-img" alt="logo"></a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item"><a href="#" class="nav-link active home">Home</a>

                        </li>

                        <li class="nav-item"><a href="#" class="nav-link ap_Gis">Anusandhan Yuva 2023</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="#" class="nav-link">Event Schedule</a></li>

                                <li class="nav-item"><a href="#" class="nav-link">Venue Details</a></li>

                                <li class="nav-item"><a href="#" class="nav-link">Exhibition</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Travel & Accommodation </a></li>

                            </ul>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link advantage_Ap">Seminars & Workshops</a>

                        </li>


                        <li class="nav-item"><a href="#" class="nav-link focus_Sector">Focus Sectors</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="#" class="nav-link">Aerospace & Defence</a></li>

                                <li class="nav-item"><a href="#" class="nav-link">Agri & Food Processing</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Automobile & Electric Vehicles</a>
                                </li>
                                <li class="nav-item"><a href="#" class="nav-link">Electronics & IT</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Healthcare & Medical Equipment</a>
                                </li>
                                <li class="nav-item"><a href="#" class="nav-link">Industrial & Logistics
                                        Infrastructure</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">MSME and Startups & Innovation</a>
                                </li>
                                <li class="nav-item"><a href="#" class="nav-link">Petroleum & Petrochemicals</a>
                                </li>
                                <li class="nav-item"><a href="#" class="nav-link">Pharmaceuticals & Life
                                        Sciences</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Renewable Energy</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Skill Development & Education</a>
                                </li>
                                <li class="nav-item"><a href="#" class="nav-link">Textiles & Apparel</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Tourism & Hospitality</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a href="#" class="nav-link existing_policy">Supporting Org's</a></li>

                        <li class="nav-item"><a href="#" class="nav-link news_Updates">Sponsorships</a>

                        </li>

                        <li class="nav-item"><a routerLink="/contact-us" class="nav-link contact_Us">Contact us</a></li>
                        <!-- <li class="register-nav-item nav-item">
                            <a href="#" class="nav-link">Register</a>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="dropdown-item" href="#">Student</a></li>
                                <li><a href="#" class="dropdown-item" href="#">Unemployed youth & women</a>
                                </li>
                                <li><a href="#" class="dropdown-item" href="#">Exhibitors</a></li>

                            </ul>
                        </li> -->
                    </ul>
                    <div class="others-option">
                        <ul>
                            <li class="main_register">
                                <a class="btn anusandhan-btn">Register <i class="fa fa-caret-down"></i></a>
                                <ul class="child-nav-gis">
                                    <li><a href="#" class="dropdown-item" href="#">Student</a></li>
                                    <li><a href="#" class="dropdown-item" href="#">Unemployed youth & women</a></li>
                                    <li><a href="#" class="dropdown-item" href="#">Exhibitors</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                    

                </div>
            </nav>
        </div>
    </div>
    <div class="gtranslate">

    </div>
</header>

<div>
    <router-outlet></router-outlet>
</div>
<footer>mahes babu</footer>