.anusandhan-btn {
  background-color: #3c8d3c !important;
  color: #fff !important;
  border-radius: 14px;
  padding: 5px 15px !important;
  height: 30px;
}
.anusandhan-btn:hover {
  box-shadow: 0 0 5px #3c8d3c;
}

.anusandhan-btn:hover {
  background-color: #055e05 !important;
  transition: 0.2s;
}

.elkevent-nav nav .navbar-nav .anusandhan-register a:hover::after {
  display: none;
}

.logo-img {
  width: 100px;
  height: 100px;
}

.elkevent-nav {
  background: white !important;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 0px;
  width: 100%;
  z-index: 999;
  height: auto;
  border: 0.4px solid #00000014;
}

.navbar-area-with-bottom-color
  .elkevent-nav
  .navbar
  .navbar-nav
  .nav-item
  a.active {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
}

.navbar-area-with-bottom-color
  .elkevent-nav
  .navbar
  .navbar-nav
  .nav-item:hover
  a {
  color: #ffa500;
}

.navbar-area-with-bottom-color
  .elkevent-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  a {
  border-bottom: none;
  color: #fff;
}

.navbar-area-with-bottom-color
  .elkevent-nav
  .navbar
  .navbar-nav
  .nav-item
  a:hover,
.navbar-area-with-bottom-color
  .elkevent-nav
  .navbar
  .navbar-nav
  .nav-item
  a:focus,
.navbar-area-with-bottom-color
  .elkevent-nav
  .navbar
  .navbar-nav
  .nav-item
  a.active {
  color: #ffa500;
  /* border-bottom: 1px solid #055e05; */
}

.elkevent-nav nav .navbar-nav .nav-item a {
  font-weight: 600;
  font-size: 12px;
  color: black;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 13px;
  margin-right: 13px;
}

.elkevent-nav nav .navbar-nav .nav-item a {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.elkevent-nav nav .navbar-nav .nav-item a::after {
  content: "";
  display: block;
  width: 0;
  margin: auto;
  height: 2px;
  background: #055e05;
  transition: width 0.2s ease;
}
.elkevent-nav nav .navbar-nav .nav-item a:hover::after {
  width: 100%;
}

.elkevent-nav nav .navbar-nav .nav-item .dropdown-menu {
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  background: #055e05;
  position: absolute;
  top: 80px;
  left: 0;
  width: 250px;
  z-index: 99;
  display: block;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-nav .dropdown-menu {
  position: static;
}

.elkevent-nav nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.elkevent-nav nav .navbar-nav .nav-item:hover ul {
  opacity: 1;
  visibility: visible;
  top: 170%;
}

.navbar-area-with-bottom-color
  .elkevent-nav
  .navbar
  .navbar-nav
  ul.dropdown-menu
  .nav-item:hover
  a {
  border-bottom: 0 solid #ffa500 !important;
}

.navbar-area-with-bottom-color
  .elkevent-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  a:hover,
.navbar-area-with-bottom-color
  .elkevent-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  a:focus,
.navbar-area-with-bottom-color
  .elkevent-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  a.active {
  border: 0 !important;
  color: #ffa500;
}

.elkevent-nav nav .navbar-nav .nav-item .dropdown-menu li a {
  font-size: 12px;
  font-weight: 500;
  padding: 9px 15px;
  margin: 0;
  display: block;
  color: #ffa500;
}

.elkevent-nav nav .navbar-nav .nav-item .dropdown-menu li {
  position: relative;
  padding: 0;
}
.elkevent-nav nav .navbar-nav .nav-item {
  position: relative;
}

.anusandhan-btn {
  background-color: #3c8d3c !important;
  color: #fff !important;
}

.elkevent-nav nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.child-nav-gis {
  position: absolute;
  z-index: 999;
  background: white;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  padding: 14px;
  border-radius: 10px;
  display: none;
  background-color: #121842;
}

.main_register:hover .child-nav-gis {
  display: block !important;
}

.child-nav-gis li a {
  padding: 8px 10px 8px 16px !important;
  color: white;
  font-size: 12px;
}

.carousel-img {
  height: 200px !important;
}

/* footer */

.footer-container {
  /* background: #000; */
  background-image: url("../../assets/images/main-footer.png");
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 1;
}

.footer-container .footer-lists {
  margin-top: 50px;
  list-style: none;
  padding: 0 30px;
  padding-bottom: 0 !important;
}

.footer-container .footer-lists .footer-head {
  color: #fff;
  border-bottom: 2px solid rgba(222, 226, 230, 0.2);
  padding-bottom: 6px;
  margin-bottom: 10px;
}

.footer-container p {
  color: #fff !important;
  font-size: 16px;
}

/* .footer-container .footer-lists .footer-body .copyright-text {
  color: red;
  font-size: 16px;
} */

.footer-container .anusandhan-footer-logo h4 {
  /* background: linear-gradient(to right, #ffa500 13.95%, #3baf3b 50.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  height: fit-content;
  margin-bottom: 0;
  margin-left: 10px;
}

.footer-container .anusandhan-footer-logo {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.footer-container .footer-sub-list {
  list-style: none;
  padding: 0 30px;
  padding-left: 0;
  padding-bottom: 0 !important;
}

.footer-container
  .footer-lists
  .footer-body
  .footer-sub-list
  .footer-body-items {
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  padding-bottom: 5px;
  /* opacity: 0.7; */
}

.footer-sub-list .footer-body-items:hover {
  color: #fff !important;
  transition: 0.3s;
  font-weight: 500;
}

.footer-container .footer-lists .footer-body {
  padding-top: 6px;
}

.footer-body a {
  display: block;
  text-decoration: none;
  margin-bottom: 4px;
}

.footer-lists p {
  font-size: 16px;
  margin-bottom: 5px;
  color: #fff;
}

.footer-lists p img {
  width: 12px;
  height: 15px;
  margin-right: 6px;
}

.social-links {
  margin-top: 25px;
}

.social-links .link {
  color: #fff;
  text-decoration: none;
}

.social-links .link:hover {
  color: #fff;
  text-decoration: underline;
  transition: 0.2s;
}

.social-links a {
  margin-right: 20px;
  margin-bottom: 13px;
  display: block;
}

.copyright .copyright-text {
  color: #fff;
  font-size: 13px;
  text-align: start;
}
.copyright h6 {
  color: #fff;
  font-size: 13px;
}

.footer-spacer-wap {
  display: block;
  border-bottom: 1px dotted #fff;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* .footer-container .technology-partner h6 {
  font-size: 16px;
  color: #fff;
  padding: 0 30px;
  padding-bottom: 0 !important;
} */

/* //footer-new */
