<header id="header" class="header-area navbar-area-with-bottom-color">
    <div class="elkevent-mobile-nav">
        <div class="logo">
            <a class="navbar-brand gis-mobile-logo" href="#"><img class="logo-img"
                    src="../../assets/images/Anusandhaan Logo.png" alt="logo" /></a>
        </div>
    </div>

    <div class="elkevent-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light p-0">
                <a class="navbar-brand" href="#"><img src="../../assets/images/Anusandhaan Logo.png" class="logo-img"
                        alt="logo" /></a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link active home">Home</a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link ap_Gis">Anusandhan Yuva 2023</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">About</a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">Event Schedule</a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">Venue Details</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">College Connect</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Industry Connect </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Exhibition </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link focus_Sector">Focus Sectors</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Startup's & Technologies</a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">Incubations & Investments</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">eHealth</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Edtech</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Agritech</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">eAutomobiles</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Renewable Energy</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Environment</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Logistics</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link advantage_Ap">Seminars & Workshops</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Emerging Technologies</a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">Industry 4.0</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link existing_policy">Supporting Org's</a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link news_Updates">Sponsorships</a>
                        </li>

                        <li class="nav-item">
                            <a routerLink="/contact-us" class="nav-link contact_Us">Contact us</a>
                        </li>
                        <!-- <li class="register-nav-item nav-item">
                            <a href="#" class="nav-link">Register</a>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="dropdown-item" href="#">Student</a></li>
                                <li><a href="#" class="dropdown-item" href="#">Unemployed youth & women</a>
                                </li>
                                <li><a href="#" class="dropdown-item" href="#">Exhibitors</a></li>

                            </ul>
                        </li> -->
                    </ul>
                    <div class="others-option">
                        <ul>
                            <li class="main_register">
                                <a class="btn anusandhan-btn">Register <i class="fa fa-caret-down"></i></a>
                                <ul class="child-nav-gis">
                                    <li>
                                        <a href="#" class="dropdown-item" href="#">Student</a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown-item" href="#">Unemployed youth & women</a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown-item" href="#">Exhibitors</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="gtranslate"></div>
</header>

<div>
    <router-outlet></router-outlet>
</div>
<footer>
    <div class="footer-container">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul class="footer-lists">
                        <li class="footer-head">
                            <h6>About Us</h6>
                        </li>
                        <li class="footer-body">
                            <a href="#"><img src="" />logo</a>
                        </li>
                        <li class="footer-body">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Repudiandae minus, nihil totam, quas quod earum excepturi
                                laboriosam eveniet maiores.
                            </p>
                            <p class="mt-3">
                                Copyright 2045 ©
                                <a target="_blank" rel="nofollow noopener" class="d-inline copyright-text"
                                    href="#">DevCRUD</a>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="footer-lists">
                        <li class="footer-head">
                            <h6>Use Full Links</h6>
                        </li>
                        <li class="footer-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="footer-sub-list">
                                        <li><a href="#" class="footer-body-items">About</a></li>
                                        <li><a href="#" class="footer-body-items">Services</a></li>
                                        <li><a href="#" class="footer-body-items">Portfolio</a></li>
                                        <li>
                                            <a href="#" class="footer-body-items">Testimonial</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="footer-sub-list">
                                        <li><a href="#" class="footer-body-items">Team</a></li>
                                        <li><a href="#" class="footer-body-items">Blog</a></li>
                                        <li><a href="#" class="footer-body-items">FAQ</a></li>
                                        <li>
                                            <a href="#" class="footer-body-items">Policy Policy</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="footer-lists">
                        <li class="footer-head">
                            <h6>Contact Info</h6>
                        </li>
                        <p class="">
                            Contact us and we'll get back to you within 24 hours.
                        </p>
                        <p class="">
                            <img src="../../assets/images/location.png" />12345 Fake ST
                            NoWhere AB Country
                        </p>
                        <p class="">
                            <img src="../../assets/images/email.png" style="height: 13px; width: 15px" />info@domain.com
                        </p>
                        <div class="social-links">
                            <a href="#" class="link">
                                <img src="../../assets/images/facebook.png" />
                            </a>
                            <a href="#" class="link">
                                <img src="../../assets/images/instagram.png" /></a>
                            <a href="#" class="link">
                                <img src="../../assets/images/twitter.png" /></a>
                            <a href="#" class="link">
                                <img src="../../assets/images/location.png" /></a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>