.start-ups-banner {
  margin-top: 12px;
}

.start-ups-content.start-ups-content-text-center {
  margin-bottom: 4rem;
}

.start-ups-content h6 {
  font-weight: 600;
  text-align: center;
  font-size: 2rem;
  color: #3e368a;
  margin: 1.5rem 0;
  font-family: "Poppins";
}

.start-ups-content.start-ups-content-text-center p {
  text-align: center;
  margin: auto;
  margin-bottom: 1.5rem;
}

.zones {
  min-height: auto;
  padding: 3rem 2rem;
  /* background: #ffffff7a 0% 0% no-repeat padding-box; */
  background: #fff;
  box-shadow: -0.156vw 0.156vw 0.781vw rgb(0 0 0 / 16%);
  border-radius: 1.563vw;
  padding-right: 5rem;
}

.zones h4 {
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.zones ul li {
  line-height: 1.8rem;
  margin-bottom: 15px;
  color: #fff;
}

.zones ul li::marker {
  color: #fff;
  font-size: 1.3rem;
  position: relative;
}

.enterprenuer-img img {
  border-radius: 30px 30px 0px 30px;
}

.enterprenuer-content h2 {
  color: #3e368a;
}

.zones {
  height: 100%;
  background-image: url("../../assets/images/enterpenuer-blend.png");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.card-title h4 {
  text-align: center;
}

.card-body p {
  text-align: center;
}

.carousel-inner .carousel-item .card-title {
  padding: 15px;
}
