<div class="rainbow-gradient-circle"></div>
<div class="rainbow-gradient-circle theme-pink"></div>
<div class="start-ups-content">
  <div class="start-ups-banner mb-3">
    <img src="../../assets/images/Enterpreneur Dev.png" />
  </div>
  <div class="col-md-12">
    <div class="container container-flexer">
      <div class="row mt-4">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="card-title">
                  <h4>Banner #1</h4>
                </div>
                <div class="card-body">
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Perferendis ab incidunt doloremque dicta ex fugit nulla
                    quasi id ipsa libero! Numquam officiis reprehenderit aliquid
                    fuga? Assumenda in natus consectetur esse.
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card-title">
                  <h4>Banner #2</h4>
                </div>
                <div class="card-body">
                  <p>
                    The state is home to the Eastern Naval Command in
                    Visakhapatnam and Satish Dhawan Space Centre SHAR (SDSC
                    SHAR), at the Indian.
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card-title">
                  <h4>Banner #3</h4>
                </div>
                <div class="card-body">
                  <p>
                    Ace Public Sector Units. The state is home to the Eastern
                    Naval Command in Visakhapatnam and Satish Dhawan Space
                    Centre SHAR (SDSC SHAR), at the Indian Space Research
                    Organization (ISRO) in Sriharikota, the primary.
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card-title">
                  <h4>Banner #4</h4>
                </div>
                <div class="card-body">
                  <p>
                    expedita rem fugiat voluptates earum officiis repellendus
                    illum voluptas eius, cupiditate dolorem iusto ullam
                    doloribus. Quam perferendis nostrum ab enim dolorum?.
                  </p>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

          <div class="col-md-12">
            <div class="start-ups-content start-ups-content-text-center">
              <h6>About the Entrepreneur</h6>
              <p>
                Andhra Pradesh has strong presence of Defence Public Sector
                Units. The state is home to the Eastern Naval Command in
                Visakhapatnam and Satish Dhawan Space Centre SHAR (SDSC SHAR),
                at the Indian Space Research Organization (ISRO) in Sriharikota,
                the primary spaceport of India. The Hindustan Shipyard, founded
                in 1941, is a PSU that is focused on ship building, ship repair
                including major overhauls of Indian Navy submarines
              </p>
              <p>
                Andhra Pradesh has strong presence of Defence Public Sector
                Units. The state is home to the Eastern Naval Command in
                Visakhapatnam and Satish Dhawan Space Centre SHAR (SDSC SHAR),
                at the Indian Space Research Organization (ISRO) in Sriharikota,
                the primary spaceport of India. The Hindustan Shipyard, founded
                in 1941, is a PSU that is focused on ship building, ship repair
                including major overhauls of Indian Navy submarines
              </p>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 mb-5">
            <div class="enterprenuer-banner">
              <div class="row align-items-center">
                <div class="col-lg -6 col-md-6 col-sm-12">
                  <div class="enterprenuer-content">
                    <h2 class="mb-5">Glad to be an enterprenuer</h2>
                    <p class="mb-4">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Ipsam expedita rem fugiat voluptates earum officiis
                      repellendus illum voluptas eius, cupiditate dolorem iusto
                      ullam doloribus. Quam perferendis nostrum ab enim dolorum?
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Ipsam expedita rem fugiat voluptates earum officiis
                      repellendus illum voluptas eius, cupiditate dolorem iusto
                      ullam doloribus. Quam perferendis nostrum ab enim dolorum?
                    </p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="enterprenuer-img">
                    <img src="../../assets/images/img.png" alt=".." style="height: 500px; width: 100%" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 mb-3">
            <div class="row zones">
              <h4 class="">Sector Highlights &amp; Key Initiatives</h4>
              <div class="col-lg-12">
                <ul>
                  <li>
                    Some of the key investments under active implementation in
                    the Aerospace &amp; Defence sector are as follows:
                    <ul>
                      <li>
                        BEL’s Defence Systems Integration Complex for Weapons
                        and Radars in Anantapur District
                      </li>
                      <li>
                        BEL’s New Generation Electro-optics &amp; Advance Night
                        Vision Cameras in Krishna District
                      </li>
                      <li>Air Cargo Complex near Visakhapatnam</li>
                      <li>
                        Stumpp Schuele Casings’s (SSC) upcoming Ammunitions
                        manufacturing unit in Anantapur District
                      </li>
                      <li>
                        DRDO’s Missile Testing facility planned in Krishna
                        District
                      </li>
                      <li>
                        Premier Explosive’s upcoming Solid Rocket Propellant
                        Plant in Nellore District
                      </li>
                      <li>
                        World-class Maintenance, Repair and Overhaul (MRO)
                        facility as a part of the proposed Bhogapuram
                        Aerotropolis near Visakhapatnam
                      </li>
                    </ul>
                  </li>
                  <li>
                    Andhra Pradesh has dedicated infrastructure facilities for
                    Aerospace &amp; Defence such DRDO’s Electronic Warfare Test
                    Range including a design, development, production, and
                    assembly unit in Kurnool District.
                  </li>
                  <li>
                    The State is blessed with Heavy Mineral Beach Sand (HMBS) a
                    source for minerals such as Ilmenite and metal-grade
                    Titanium, ideal for Aerospace &amp; Defence manufacturing
                    products.
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-12 col-md-12">
            <div class="enterpenure-characteristics-banner">
              <div class="section-title text-center">
                <h3 style="color: #3c8d3c">Blogs</h3>
                <p>
                  Quisque eget nisl id nulla sagittis auctor quis id. Aliquam
                  quis vehicula enim, non aliquam risus.
                </p>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="services-inner-box">
                    <!-- <div class="ser-icon"><i class="flaticon-seo"></i></div> -->
                    <h2>Web Development</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="services-inner-box">
                    <!-- <div class="ser-icon"><i class="flaticon-development"></i></div> -->
                    <h2>Responsive Design</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="services-inner-box">
                    <!-- <div class="ser-icon"><i class="flaticon-process"></i></div> -->
                    <h2>Creative Design</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="services-inner-box">
                    <!-- <div class="ser-icon"><i class="flaticon-discuss-issue"></i></div> -->
                    <h2>Support</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="services-inner-box">
                    <!-- <div class="ser-icon"><i class="flaticon-idea"></i></div> -->
                    <h2>Web Idea</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="services-inner-box">
                    <!-- <div class="ser-icon"><i class="flaticon-idea-1"></i></div> -->
                    <h2>Graphic Design</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="services-inner-box">
                    <!-- <div class="ser-icon"><i class="flaticon-process"></i></div> -->
                    <h2>Creative Design</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="services-inner-box">
                    <!-- <div class="ser-icon"><i class="flaticon-discuss-issue"></i></div> -->
                    <h2>Support</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>