<div class="rainbow-gradient-circle"></div>
<div class="rainbow-gradient-circle theme-pink"></div>
<section class="custom-section">
	<div class="container">
		<ul class="nav nav-pills event-schedule mb-3" id="pills-tab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
					type="button" role="tab" aria-controls="pills-home" aria-selected="true">Day 1 / Jul 13</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
					type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Day 2 / Jul 14</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
					type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Day 3 / Jul 15</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
					type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Day 4 / Jul 16</button>
			</li>
		</ul>
		<div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Time</th>
							<th scope="col">Speaker</th>
							<th scope="col">Topic</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="table-head" width="222" scope="row">9:45 AM</th>
							<td width="463">Master of Ceremonies </td>
							<td width="172">Welcome & Introduction</td>
						</tr>
						<tr>
							<th scope="row"></th>
							<td>Laser Show</td>
							<td></td>
						</tr>
						<tr>
							<th scope="row"></th>
							<td>Maa Telugu Talliki
							</td>
							<td></td>
						</tr>
						<tr>
							<th scope="row"></th>
							<td>
								<p class="speaker-name">Smt. G. Srijana</p>Director of Industries, Commerce & Export
								Promotion, Government of Andhra Pradesh
							</td>
							<td></td>
						</tr>
						<tr>
							<th scope="row"></th>
							<td>
								<p class="speaker-name">Smt. G. Srijana</p>Director of Industries, Commerce & Export
								Promotion, Government of Andhra Pradesh
							</td>
							<td></td>
						</tr>
						<tr>
							<th scope="row"></th>
							<td>
								<p class="speaker-name">Smt. G. Srijana</p>Director of Industries, Commerce & Export
								Promotion, Government of Andhra Pradesh
							</td>
							<td></td>
						</tr>
						<tr>
							<th scope="row"></th>
							<td>
								<p class="speaker-name">Smt. G. Srijana</p>Director of Industries, Commerce & Export
								Promotion, Government of Andhra Pradesh
							</td>
							<td></td>
						</tr>
						<tr>
							<th scope="row"></th>
							<td>
								<p class="speaker-name">Smt. G. Srijana</p>Director of Industries, Commerce & Export
								Promotion, Government of Andhra Pradesh
							</td>
							<td></td>
						</tr>
						<tr>
							<th scope="row"></th>
							<td>
								<p class="speaker-name">Smt. G. Srijana</p>Director of Industries, Commerce & Export
								Promotion, Government of Andhra Pradesh
							</td>
							<td></td>
						</tr>
						<tr>
							<th scope="row"></th>
							<td>
								<p class="speaker-name">Smt. G. Srijana</p>Director of Industries, Commerce & Export
								Promotion, Government of Andhra Pradesh
							</td>
							<td></td>
						</tr>
						<tr>
							<th scope="row"></th>
							<td>
								<p class="speaker-name">Smt. G. Srijana</p>Director of Industries, Commerce & Export
								Promotion, Government of Andhra Pradesh
							</td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Tab 2</div>
			<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">Tab 3</div>
			<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">Tab 4</div>

		</div>
	</div>
</section>