.wide-sm {
  max-width: 940px;
  margin: 0 auto;
}

.wide-sm h1 {
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 18px;
}

.wide-sm p {
  margin-bottom: 6rem;
}

.video-area {
  background-color: #fff;
}

.s-video-wrap {
  background-image: url("../../assets/images/RENEWABLE-group.png");
  height: 500px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.s-video-content {
  margin: auto;
}

.s-video-content a {
  z-index: 9;
  font-size: 14px;
  height: 178px;
  width: 178px;
  text-align: center;
  line-height: 178px;
  border-radius: 50%;
  display: block;
  margin-bottom: 25px;
  position: relative;
}

.s-video-content a::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  height: 180px;
  width: 180px;
  background: rgba(255, 255, 255, 0.479);
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: pulse 2s ease-out infinite;
}

.s-video-content .popup-video img {
  max-width: 100%;
  transition: all 0.3s ease-out 0s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.479);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.479);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.479);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.pl-70 {
  padding-left: 100px;
}

.video-area h2 {
  color: #3c8d3c;
  margin-bottom: 2rem;
}

.how-box h5 {
  color: #3c8d3c;
  font-size: 18px;
}

.how-box h3 {
  color: #3c8d3c;
  font-size: 24px;
}

.renewable-img .rotate-img {
  height: 500px;
  animation: rotation 15s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.about-windEnergy img {
  width: 100%;
  height: 313px;
  border-radius: 0 50px 50px 0;
}

.about-solarEnergy img {
  width: 100%;
  height: 313px;
  border-radius: 50px 0 0 50px;
}

.about-greenEnergy img {
  width: 100%;
  height: 313px;
  border-radius: 0 50px 50px 0;
}

.windEnergy-content h2 {
  padding: 0 35px;
  margin-top: 15px;
}
.windEnergy-content p {
  padding: 0 35px;
  margin-top: 15px;
}

.renewable-sec-content {
  border: 2px solid #3c8d3c;
  border-radius: 50px;
  flex-direction: row !important;
  padding: 0px !important;
  margin-left: 0 !important;
  margin-right: 0px !important;
}

.solarEnergy-content h2 {
  padding: 0 35px;
  margin-top: 15px;
}
.solarEnergy-content p {
  padding: 0 35px;
  margin-top: 15px;
}

.greenEnergy-content h2 {
  padding: 0 35px;
  margin-top: 15px;
}

.greenEnergy-content p {
  padding: 0 35px;
  margin-top: 15px;
}

.zones {
  min-height: auto;
  padding: 3rem 2rem;
  /* background: #ffffff7a 0% 0% no-repeat padding-box; */
  background: #fff;
  box-shadow: -0.156vw 0.156vw 0.781vw rgb(0 0 0 / 16%);
  border-radius: 1.563vw;
  padding-right: 5rem;
  margin-top: 100px;
}

.zones h4 {
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.zones ul li {
  line-height: 1.8rem;
  color: #2b2b2b;
  margin-bottom: 15px;
  color: #fff;
}

.zones ul li::marker {
  color: #fff;
  font-size: 1.3rem;
  position: relative;
}

.zones {
  height: 100vh;
  background-image: url("../../assets/images/renewable-blend.png");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  opacity: 1;
}
