<div class="start-ups-banner mb-3">
    <img src="../../assets/images/Renewable.png">
</div>

<div class="project dis-ap section-innerpage-wapper">
    <div class="container">
        <div class="text-center">
            <div class="row justify-content-center">
                <div class="col-md-12 g-2" data-aos="fade-up" data-aos-duration="500">
                    <h2 style="color: #3c8d3c; margin-bottom: 60px;font-size: 45px;font-weight: 600;">
                        Renewable Energy
                    </h2>
                </div>
            </div>
        </div>
        <div class="content row">
            <div class=" col-lg-12 col-md-12 col-sm-12" data-aos="fade-up" data-aos-duration="500">
                <div class="wide-sm center">
                    <h1 class="text-center" style="color:#3c8d3c">A hight level service provider that recommended to any
                        companies, firms or
                        industries.</h1>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a enim
                        aliquam,
                        condimentum nisl a,
                        laoreet lectus. Aliquam convallis sed elit nec vehicula. Praesent gravida, massa sit amet
                        ullamcorper fringilla, tortor nunc ultrices dui porttitor mi non, elementum dui.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
        </div>
    </div>
</section>

<section class="video-area about-p position-relative">
    <div class="container">
        <div class="row align-items-center">
            <!-- <div class="col-lg-6">
                <div class="s-video-wrap" style="">
                    <div class="s-video-content">
                        <a href="https://youtu.be/RKo0FY1ZNWg" class="popup-video mb-50"><img
                                src="../../assets/images/video play button.png" alt="circle_right"></a>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-5 col-md-12 col-sm-12" data-aos="zoom-in" data-aos-duration="500">
                <div class="renewable-img">
                    <img src="../../assets/images/REimage-removebg-preview.png" alt=".." class="rotate-img">
                </div>
            </div>
            <div class="col-lg-7 col-md-12 position-relative pl-70" data-aos="fade-left" data-aos-duration="500">
                <div class="section-title">
                    <h2>
                        Renewable Energy
                    </h2>
                </div>

                <div class="row how-box-contaniner">
                    <div class="col-lg-6 col-md-6 mt-30">
                        <div class="how-box">
                            <h5>01</h5>
                            <h3>Wind Energy</h3>
                            <p>Nullam porttitorer, condimentum pharetra, tellus sapien malesuada quampulvinar efficitur
                                justo.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mt-30">
                        <div class="how-box">
                            <h5>02</h5>
                            <h3>Solar Energy</h3>
                            <p>Nullam porttitorer, condimentum pharetra, tellus sapien malesuada quampulvinar efficitur
                                justo.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mt-30">
                        <div class="how-box">
                            <h5>03</h5>
                            <h3>Green Energy</h3>
                            <p>Nullam porttitorer, condimentum pharetra, tellus sapien malesuada quampulvinar efficitur
                                justo.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mt-30">
                        <div class="how-box">
                            <h5>04</h5>
                            <h3>Wind Energy</h3>
                            <p>Nullam porttitorer, condimentum pharetra, tellus sapien malesuada quampulvinar efficitur
                                justo.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-6" data-aos="fade-right" data-aos-duration="500">
                <div class="windENergy-content">
                    <h2>Wind Energy</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, porro. Accusantium, ducimus iste.
                        Non, ratione alias incidunt numquam consequatur accusamus cumque repellendus commodi asperiores
                        nemo dolore cum suscipit id dolorem!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, porro. Accusantium, ducimus iste.
                        Non, ratione alias incidunt numquam consequatur accusamus cumque repellendus commodi asperiores
                        nemo dolore cum suscipit id dolorem!</p>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-left" data-aos-duration="600">
                <div class="about-windEnergy">
                    <img src="../../assets/images/wind-content.jpg" alt="...">
                </div>

            </div>

            <div class="col-lg-6 mt-5" data-aos="fade-right" data-aos-duration="500">
                <div class="about-solarEnergy">
                    <img src="../../assets/images/solarEnergy.jpg" alt="...">
                </div>

            </div>
            <div class="col-lg-6 mt-5" data-aos="fade-left" data-aos-duration="600">
                <div class="solarEnergy-content">
                    <h2>Solar Energy</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, porro. Accusantium, ducimus iste.
                        Non, ratione alias incidunt numquam consequatur accusamus cumque repellendus commodi asperiores
                        nemo dolore cum suscipit id dolorem!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, porro. Accusantium, ducimus iste.
                        Non, ratione alias incidunt numquam consequatur accusamus cumque repellendus commodi asperiores
                        nemo dolore cum suscipit id dolorem!</p>
                </div>
            </div>

            <div class="col-lg-6 mt-5" data-aos="fade-right" data-aos-duration="600">
                <div class="greenEnergy-content">
                    <h2>Green Energy</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, porro. Accusantium, ducimus iste.
                        Non, ratione alias incidunt numquam consequatur accusamus cumque repellendus commodi asperiores
                        nemo dolore cum suscipit id dolorem!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, porro. Accusantium, ducimus iste.
                        Non, ratione alias incidunt numquam consequatur accusamus cumque repellendus commodi asperiores
                        nemo dolore cum suscipit id dolorem!</p>
                </div>
            </div>
            <div class="col-lg-6 mt-5" data-aos="fade-left" data-aos-duration="600">
                <div class="about-greenEnergy">
                    <img src="../../assets/images/greenEnergy.jpg" alt="...">
                </div>

            </div>

        </div>
    </div>
</section>