/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700");

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-image: url("./assets/images/Watermark-gray.png");
  background-size: auto;
  background-position: center;
  background-repeat-x: no-repeat;
  background-repeat-y: repeat;
}

.rainbow-gradient-circle {
  position: fixed;
  left: -250px;
  top: 250px;
  right: auto;
  bottom: auto;
  z-index: -1;
  width: 500px;
  height: 500px;
  border-radius: 1000px;
  background-image: linear-gradient(45deg, #ffb75e, #ed8f03);
  opacity: 0.25;
  -webkit-filter: blur(100px);
  filter: blur(100px);
}

.rainbow-gradient-circle.theme-pink {
  left: auto;
  top: -250px;
  right: -250px;
  bottom: auto;
  background-image: linear-gradient(45deg, #ffb75e, #ed8f03);
  /* background-image: linear-gradient(45deg, #fb5343, #6549d5); */
}

.custom-section {
  margin-top: 12px;
  min-height: 100vh;
}

.custom-padding {
  padding-top: 60px;
}

p {
  color: #707070;
}

.anusandhan-header {
  /* background: linear-gradient(to right, #ffa500 40.95%, #3baf3b 62.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #3c8d3c;
  font-weight: 600;
  font-size: 36px;
}

.section-block {
  margin-top: 120px;
  margin-bottom: 120px;
}

.read-more-btn {
  background-color: #3c8d3c !important;
  color: #fff;
  border-radius: 19px;
}

.visit-btn {
  border: 1px solid #3c8d3c !important;
  color: #3c8d3c;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.2s;
  /* width: fit-content;
  margin: auto; */
}

.visit-btn:hover {
  background-color: #3c8d3c;
  color: #fff;
  transition: 0.2s;
}

.visit-btn img {
  margin-left: 10px;
}

.read-more-btn:hover {
  background-color: #055e05 !important;
  transition: 0.2s;
  color: #fff;
}

.carousel-indicators {
  top: 100%;
}

.carousel-indicators [data-bs-target] {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #8bd59a;
}

.sponsor-card {
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 199px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.sponsor-card-container {
  position: relative;
  transition: 0.5s;
  transition-timing-function: ease-in;
}

.sponsor-link-card {
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 15px;
  position: absolute;
  /* top: 81%; */
  width: 90%;
  margin: auto;
  margin-top: 172px !important;
  padding: 49px 30px 26px 30px;
  left: 0;
  right: 0;
  background-color: #e6f6e6;
  transition: 0.9s;
  transition-timing-function: ease-in;
}

.sponsor-img {
  transition: 0.5s;
  width: 100%;
}

.sponsor-card-container:hover .sponsor-img {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5);
  transition: 0.5s;
}

.sponsor-link-card p {
  display: none;
  transition: 9s;
}

.sponsor-card-container:hover .sponsor-link-card p {
  display: block;
  transition: 9s;
  height: 300px;
}

.sponsors-section {
  /* background-color: #E9ECF2; */
}

.sponsor-text {
  display: none;
  text-align: center;
  color: #000 !important;
}

.sponsor-card-container:hover .sponsor-text {
  display: block;
}

.sponsor-card-container:hover .sponsor-card {
  height: 320px;
  transition: 0.5s;
  justify-content: space-between;
}

.sponsor-card-container .btn {
  background-color: #3c8d3c;
  color: #fff;
  padding-left: 15px;
}

.sponsor-card-container .btn:hover {
  background-color: #055e05;
}

.start-ups-content h6 {
  color: #3c8d3c !important;
}
.event-schedule {
  justify-content: space-around;
}

.event-schedule .nav-link.active {
  background-color: #3c8d3c;
}

.event-schedule .nav-link {
  border: 1px solid #3c8d3c;
  color: #3c8d3c;
  border-radius: 33px;
  padding: 10px 32px;
  font-weight: 600;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .carousel-container {
    flex-direction: column;
  }

  .video-bit {
    width: inherit;
    margin-top: 45px;
  }

  .anusandhan-header {
    font-size: 22px;
  }

  .about-anusandhan {
    margin-right: 0 !important;
  }

  .minister-img {
    margin-bottom: 20px;
  }

  .section-block {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .video-banner {
    margin-top: 27px;
  }

  .section-block {
    padding: 0 24px;
  }

  .footer-container {
    padding: 0 24px;
  }

  .footer-container .footer-lists {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .social-media-links {
    padding-left: 0 !important;
  }

  .copyright-text {
    padding: 0 !important;
  }

  .technology-partners {
    flex-direction: column;
  }

  #video-outer {
    height: unset !important;
  }

  .anusandhan-header {
    text-align: center !important;
  }

  .start-ups-banner img {
    width: 100%;
  }

  .custom-section {
    margin-top: 30px;
  }

  .about-card {
    flex-direction: column !important;
  }

  .event-schedule {
    margin-bottom: 0 !important;
  }

  .event-schedule li {
    margin-bottom: 1rem;
  }

  .zones {
    padding: 10px 10px !important;
  }

  .footer-container {
    margin-top: 0 !important;
  }

  .contact-card {
    margin-bottom: 1rem;
  }

  .client_container {
    height: auto !important;
    width: 100% !important;
  }
}
